<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>addFreeBoard</title>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"
	integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
	crossorigin="anonymous"></script>
<script src="/js/addFreeBoard.js"></script>
<script type="text/javascript">
	window.onload = function() {
		var bname = '[[${bname}]]';
		console.log($("#bname").val());
		$("#bname").val(bname).prop("selected", true);
		$("#goBack").attr("onclick",
				"location.href='/health/freeBoard?bname=" + bname + "';");
	};
</script>
<link href="/css/addFreeBoard.css">
</head>
<body>
	<header>
		<h1>글쓰기</h1>
	</header>
	<main>
		<div>
			<select id="bname">
				<option value="free">자유게시판</option>
				<option value="meal">식단공유게시판</option>
				<option value="beforafter">비포에프터게시판</option>
			</select>
		</div>
		<div>
			<input type="hidden" name="fbnum" th:value="${fbnum}">
		</div>
		<div>
			<input id="title" name="title">
		</div>
		<div>
			<input id="author" type="text" name="author" th:value="${userid}"
				readonly>
		</div>
		<div>
			<div contentEditable="true" id="contents"></div>
		</div>
		<div id="fileListDiv"></div>
		<div>
			<button type="button" onclick="insertImg();">이미지 넣기</button>
		</div>
		<div>
				<input id="files" type="file" onchange="changeFile();"
					multiple="multiple">
		</div>
		<div>
			<button id="goBack" type="button">뒤로가기</button>
			<button type="button" onclick="addFreeBoard();">게시</button>
		</div>
	</main>
</body>
</html>