<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>detailFreeboard</title>
<link rel="stylesheet" href="/css/freeboard/detailFreeboard.css">
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="/js/freeboard/detailFreeboard.js"></script>
<script type="text/javascript">
window.onload = function() {
	document.getElementById("contents").innerHTML = document.getElementById("contents").innerText;
}
</script>
</head>
<body>
<div>
    <div th:replace="fragments/common :: header"></div>
</div>
	<main>
		<div id="detail_freeboard_div" th:if="${freeBoard!=null}">
			<div id="fbnum">번호:[[${freeBoard.fbnum}]]</div>
			<div id="bname">
				[[${#strings.equals(freeBoard.bname,'free')?'게시판:자유':null}]]
				[[${#strings.equals(freeBoard.bname,'meal')?'게시판:식단':null}]]
				[[${#strings.equals(freeBoard.bname,'beforafter')?'게시판:비포에프터':null}]]
			</div>
			<div id="title">제목:[[${freeBoard.title}]]</div>
			<div id="author">작성자:[[${freeBoard.author}]]</div>
			<div id="contents">[[${freeBoard.contents}]]</div>
		</div>
		<div id="detail_freeboard_button_div">
			<button id="freeboard_goback_button" onclick="location.href='/freeboard?bname='">뒤로가기</button>
			<button id="freeboard_edit_button" type="button" th:if="${#strings.equals(param.userid,author)}" th:onclick="editFreeBoard([[${freeBoard.fbnum}]])">수정</button>
		</div>
		<div id="reply">
			<div id="reply_author">[[${param.userid}]]</div>
			<textarea id="reply_contents"></textarea>
			<button type="button" onclick="addReply();">댓글</button>
			<table id="listReply">
				<tr th:each="reply : ${listReply}">
					<td th:text="${reply.author}"></td>
					<td th:text="${reply.contents}"></td>
					<td th:text="${reply.datetime}"></td>
				</tr>
			</table>
		</div>
	</main>
</body>
</html>