<!DOCTYPE html>
<html>
<head th:replace="fragments/common :: head">
<meta charset="UTF-8">
<title>detailFreeBoard</title>
</head>
<body>
<div>
    <div th:replace="fragments/common :: header"></div>
</div>
	<main>
		<div th:if="${freeBoard!=null}">
			<div id="fbnum">[[${freeBoard.fbnum!=null?freeBoard.fbnum:''}]]</div>
			<div id="title">[[${freeBoard.title!=null?freeBoard.title:''}]]</div>
			<div id="author">[[${freeBoard.author!=null?freeBoard.author:''}]]</div>
			<div id="contents">[[${freeBoard.contents!=null?freeBoard.contents:''}]]</div>
		</div>
	</main>
</body>
</html>