<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>editfreeboard</title>
<link rel="stylesheet" href="/css/freeboard/editfreeboard.css">
<script src="https://code.jquery.com/jquery-3.6.1.min.js"
	integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
	crossorigin="anonymous"></script>
<script src="/js/freeboard/editfreeboard.js"></script>
<script type="text/javascript">
	window.onload = function() {
		$("#contents").html($("#contents").text());
		if (document.getElementById("listAttach").children.length > 0) {
			$("#delete_file_btn").attr("hidden",false);
			$("#insert_img_btn").attr("hidden",false);
		}
	}
</script>
</head>
<body>
	<div>
    	<div th:replace="fragments/common :: header"></div>
	</div>
	<main>
		<div id="freeboard" th:if="${freeboard != null}">
			<div id="title_div">
				<select id="bname">
					<option th:value="free" th:selected="${#strings.equals(freeboard.bname,'free')}">자유게시판</option>
					<option th:value="meal" th:selected="${#strings.equals(freeboard.bname,'meal')}">식단공유게시판</option>
					<option th:value="beforafter" th:selected="${#strings.equals(freeboard.bname,'beforafter')}">비포에프터게시판</option>
				</select>
				<input id="title" th:value="${freeboard.title}">
			</div>
			<div id="fbnum" th:text="${freeboard.fbnum}" hidden="true"></div>
			<div id="author" th:text="${freeboard.author}"></div>
			<div id="contents" th:text="${freeboard.contents}" contentEditable="true"></div>
			<div id="listAttach">
				<div th:id="'attach'+${attach.anum}" th:each="attach : ${listAttach}">
					<input type="checkbox" th:value="${attach.anum}">
					<span th:text="${attach.anum}"></span>
					<span th:text="${attach.aname}"></span>
					<span th:text="${attach.asize}"></span>
				</div>
			</div>
			<div id="btn_div">
				<label id="file_upload_btn" for="files">파일 업로드</label>
				<button id="delete_file_btn" type="button" onclick="deleteFile();" hidden="true">파일 삭제</button>
				<button id="insert_img_btn" type="button" onclick="insertImg();"  hidden="true">이미지 넣기</button>
				<input id="files" type="file" onchange="changeFile();" multiple="multiple" hidden="hidden">
			</div>
			<hr>
			<button id="delete_freeboard_btn" type="button" th:onclick="deleteFreeboard([[${freeboard.fbnum}]]);">삭제</button>
			<button id="add_freeboard_btn" type="button" onclick="editFreeboard();">적용</button>
		</div>
	</main>
</body>
</html>