<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>editFreeBoard</title>
<link rel="stylesheet" href="/css/freeboard/editFreeboard.css">
<script src="https://code.jquery.com/jquery-3.6.1.min.js"
	integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
	crossorigin="anonymous"></script>
<script src="/js/freeboard/editFreeboard.js"></script>
<script type="text/javascript">
	window.onload = function() {
		$("#contents").html($("#contents").text());
	}
</script>
</head>
<body>
	<main>
		<div id="freeBoard" th:if="${freeBoard != null}">
			<div id="fbnum" th:text="${freeBoard.fbnum}"></div>
			<input id="title" th:value="${freeBoard.title}">
			<div id="author" th:text="${freeBoard.author}"></div>
			<div id="contents" th:text="${freeBoard.contents}"
				contentEditable="true"></div>
			<div id="listAttach">
				<div th:id="'attach'+${attach.anum}" th:each="attach : ${listAttach}">
					<input type="checkbox" th:value="${attach.anum}">
					<span th:text="${attach.anum}"></span>
					<span th:text="${attach.aname}"></span>
					<span th:text="${attach.asize}"></span>
				</div>
				<div>
					<button type="button" onclick="insertImg();">이미지 넣기</button>
					<button type="button" onclick="deleteFile();">파일 삭제</button>
					<input id="files" type="file" onchange="changeFile();" multiple>
				</div>
			</div>
			<div>
				<button type="button"
					th:onclick="deleteFreeboard([[${freeBoard.fbnum}]]);">삭제</button>
				<button type="button" onclick="editFreeboard();">적용</button>
			</div>
		</div>
	</main>
</body>
</html>