<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>freeBoard</title>
<link rel="stylesheet" href="/css/freeBoard.css">
<script src="https://code.jquery.com/jquery-3.6.1.min.js"
	integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
	crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/freeboard.js"></script>
<script type="text/javascript">
	window.onload = function() {
		/*
		changeBoard($("#bname").val());
		*/
		var bname = "[[${bname}]]";
		$("#bname").val(bname).prop("selected",true);
	};
</script>
</head>
<body>
	<div th:replace="fragments/common :: header"></div>
	<div id="freeBoard">
		<div id="menuDiv">
			<select id="bname" onchange="changeBoard($('#bname').val());">
				<option value="free">자유게시판</option>
				<option value="meal">식단공유게시판</option>
				<option value="beforafter">비포에프터게시판</option>
			</select>
		</div>
		<div id="boardDiv">
			<table id="boardTable">
				<tr>
					<th>번호</th>
					<th>제목</th>
					<th>저자</th>
				</tr>
				<tr class="boardTr" th:each="board : ${listFreeBoard}">
					<td>[[${board.fbnum}]]</td>
					<td><a
						th:href="@{/freeboard/detail(fbnum=${board.fbnum})}">[[${board.title}]]</a></td>
					<td>[[${board.author}]]</td>
				</tr>
			</table>
		</div>
		<div>
			<button onclick="addFreeboard();">글 쓰기</button>
		</div>
	</div>
</body>
</html>