@charset "UTF-8";

.nav-item {
	display: block;
}

.navbar-nav:hover .navbar_item_menu {
	display: block;
}

.navbar_item_menu {
	display: none;
	width: 100%;
	text-align: center;
	font-size: 17px;
}

.navbar_item_menu > li {
	display: block;
	width: 100%;
}
.navbar_item_menu > li:hover {
	background-color: rgb(255,195,172);
}

.navbar_item_menu > li > a {
	display: block;
	width: 100%;
	color: #F2EEE5;
}

.navbar_item_menu > li:hover a {
	color: rgb(98,98,98);
}