@charset "UTF-8";

.nav-item {
	display: block;
}

.com:hover .navbar_item_menu {
	display: block;
}

.navbar_item_menu {
	display: none;
	width: 100%;
	text-align: center;
	font-size: 17px;
}

.navbar_item_menu > .com {
	display: block;
	width: 100%;
}
.navbar_item_menu > .com:hover {
	background-color: rgb(255,195,172);
	display: block;
}

.navbar_item_menu > .com > a {
	display: block;
	width: 100%;
	color: #F2EEE5;
}

.navbar_item_menu > .com:hover a {
	color: rgb(98,98,98);
}