@charset "utf-8";

*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
a{
	text-decoration:none;
}
ul{
	list-style:none;
}
h2{
	text-align: center;
}
table {
}
#name{
	
}

#category{
	
}
#price{
	
}
#mainpic{
	
}
#descript{
	
}
.find_btn{
	text-align: center;
	margin-top:30px;
	margin-bottom:30px;
	background-color:rgba(0,0,0,0);

}
.find-btn1{
	display :inline-block;
	margin-right: -4px;
}
.find-btn2{
	margin-right: -3px;
}


