@charset "utf-8";
.top_wrap{
	background: #f4f4f4;
	width: 100vw;
	height: 100px;
	text-align: center;
	font-size: 100%
	}
.tit{
	color: #161616;
	padding: 20px 5px 20px 0;	
	border-bottom: 1px solid #ececec;
	line-height: 1.4em;
	
}
.aut{
	color: #434343;
	padding: 20px 5px 20px 0;	
	border-bottom: 1px solid #ececec;
	line-height: 1.4em;	
}
.hit{
	color: #434343;
	padding: 20px 5px 20px 0;	
	border-bottom: 1px solid #ececec;
	line-height: 1.4em;	
}
.date1{
	color: #434343;
	border-bottom: 1px solid #ececec;
	line-height: 1.4em;	
	padding: 20px 5px 20px 0;	
}
.cont{
	color: #434343;
	padding: 20px 5px 20px 0;	
	border-bottom: 1px solid #ececec;
	line-height: 1.4em;	
}

