@charset "utf-8";
.top_wrap{
	background: #f4f4f4;
	width: 100vw;
	height: 100px;
	text-align: center;
	font-size: 100%
	}
.tit{
	color: #161616;
	padding: 20px 5px 20px 0;	
	border-bottom: 1px solid #ececec;
	line-height: 1.4em;
	
}
.aut{
	color: #434343;
	padding: 20px 5px 20px 0;	
	border-bottom: 1px solid #ececec;
	line-height: 1.4em;	
}
.hit{
	color: #434343;
	padding: 20px 5px 20px 0;	
	border-bottom: 1px solid #ececec;
	line-height: 1.4em;	
}
.date1{
	color: #434343;
	border-bottom: 1px solid #ececec;
	line-height: 1.4em;	
	padding: 20px 5px 20px 0;	
}
.cont{
	color: #434343;
	padding: 20px 5px 20px 0;	
	border-bottom: 1px solid #ececec;
	line-height: 1.4em;	
}
.textarea{
	width:700px; 
	height:400px; 
    resize:none;/* 크기고정 */ 
/*   resize: horizontal; // 가로크기만 조절가능 
	resize: vertical;  세로크기만 조절가능  */
}

input {
  width:650px;
  height:30px;
}