@charset "utf-8";

h2.path{
	margin-top: 50px;
    text-align: center;
}
p.bul-exclamation-red{
		margin-top: 20px;
	    text-align: center;
}

#container{
	display: inline-block;
	width: 70%;
	margin-left:3%;
}

a.tabb{
	color: black;
		text-decoration: none;
		background-color: #b7be8b;
		padding: 10px; 
		display: inline-block; 
		width: 150px;
		text-align: center;
		margin: 8px;
		display:flex;
	} 
	
	a.tabb:hover{
		color: white;
		text-decoration: underline;
}


ul.tab3 {
    list-style:none;
    
    margin-left:auto;
    margin-right:auto;
     overflow: hidden;
}

ul.tab4 {
    list-style:none;
     overflow: hidden;
    margin-left:auto;
    margin-right:auto;
}

ul.tab5 {
    list-style:none;
    margin-left:auto;
    margin-right:auto;
    overflow: hidden;
}


li.tab{
    float: left;
    margin-left: 40px;
}


table {
  padding: 50px;
  margin-left:30px;
  margin-right:auto;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 300px;
    border-top: 1px solid #444444;
    border-bottom: 1px solid #444444;
    border-collapse: collapse;
}

thead th:nth-child(1) {
  width: 15%;
}

thead th:nth-child(2) {
  width: 45%;
}

thead th:nth-child(3) {
  width: 10%;
}

thead th:nth-child(4) {
  width: 10%;
}

th, td {
  padding: 20px;
}
th{
	border-bottom: 1px solid #444444;
}


#ex{
	display: inline-block;
	width: 20%;
	margin: 0 5px;  
	float: right;

}


img.cal{
	margin-bottom: 10px;
	margin-left:40px;
	width:120px;	
}