@charset "utf-8";

h2.path{
	margin-top: 50px;
    text-align: center;
}
p.bul-exclamation-red{
		margin-top: 20px;
	    text-align: center;
}

a.tabb{
	color: black;
		text-decoration: none;
		background-color: #b7be8b;
		padding: 15px; /* 패딩: 안쪽여백, 마진: 밖여백 */
		
		/* 글자가 깨졌으니 밑의 display 추가하자 */
		display: inline-block; /* 인라인모드/블럭모드 이해 필요  */
		
		width: 200px;
		text-align: center;
		
		margin: 5px;
	} 
	
	a.tabb:hover{/* a태그에 마우스가 올라갈 때 라는 의미*/
		color: white;
		text-decoration: underline;
}


ul.tab3 {
    list-style:none;
    margin-left:auto;
    margin-right:auto;
}

li.tab{
    float: left;
    margin-left: 20px;
    margin-bottom: 50px;
}


table {
  margin-left:auto;
  margin-right:auto;
  table-layout: fixed;
  width: 70%;
  border-collapse: collapse;
  border: 3px solid gray;
  text-align: center;
  margin-bottom: 300px;
}

thead th:nth-child(1) {
  width: 10%;
}

thead th:nth-child(2) {
  width: 35%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 20%;
}

th, td {
  padding: 20px;
}