<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>장바구니</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
	crossorigin="anonymous">
<link rel="stylesheet" href="/css/shop/cart.css">
</head>

<script src="https://code.jquery.com/jquery-3.6.2.min.js"
	integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA="
	crossorigin="anonymous"></script>
<script src="/js/shop/cart.js"></script>

<div>
	<div th:replace="fragments/shopnav :: shopnav"></div>
</div>
<body>
[[${session.userid}]]
	<main>
		
		<form id="buyCart" action="/shop/buycart" method="post">
			<input id="items" name="items" type="hidden">
		</form>
		<div
			style="height: 20%; width: 100%; background-color: #2F4F4F; color: white;">
			Shopping Cart</div>
		<div class="contents">
			<div class="mymenu">마이메뉴</div>



			<div class="tb_cart">
				<table class="table table-hover">
					<thead class="tb_head">
						<tr>
							<th scope="col"><input id="allCheck" type="checkbox" name="allCheck"></th>
							<th scope="col">대표이미지</th>
							<th scope="col">상품명</th>
							<th scope="col">주문수량</th>
							<th scope="col">변경</th>
							<th scope="col">주문금액</th>
							<th scope="col">결제(개별)</th>
						</tr>
					</thead>
					<tbody>

						<tr class="table-active" th:id="${n.cartnum}" th:each="n:${cartlist}" ><!-- style="vertical-align: middle;" -->
							<th><input type="checkbox" name="rowCheck"
								th:value="${n.cartnum}"> <input type="hidden"
								name="cartnum" th:value="${n.cartnum}">
								<input type="hidden" name="sum" th:value="${n.sum}">
								 <!--  login 연결후 수정 -->
								<input type="hidden" name="userid" th:value="${session.userid}"></th>
							<td><img alt="mainpic" width="100px" height="100px"
								th:src="'/images/goodsimg/'+${n.mainpic_server}"></td>
							<th scope="row"><a th:href="'/shop/detail/'+${n.goodsnum}">[[${n.goodsname}]]</a>
							</th>
							<td><span th:text="${n.prod_cnt}+개"></span><br> <input
								type="number" th:id="${n.cartnum}+'_cnt'"
								th:value="${n.prod_cnt}"
								style="width: 40px; text-align: center;"></td>
							<td><input type="button" value="변경"
								th:onclick="cnt_change([[${n.cartnum}]])"></td>
							<td th:text="${n.sum}+원"></td>
							<!-- session userid javascript:buyOne([[${n.cartnum}]]) // th:onclick="|javascript:buyOne('${n.cartnum}','${session.userid}')|" -->
							<td><a th:href = " 'javascript:buyOne(\'' + ${n.cartnum} + '\',\'${session.userid}\')' " >주문하기</a></td>
						</tr>
					</tbody>
				</table>
				<div th:if="${#lists.size(cartlist)}==0">장바구니가 비었습니다.</div>
			</div>

			<div class="right_box">
				<div class="btn_buy" style="position: sticky; color: black;">
					<div style="text-align: left;">선택 상품: <span id="total_cnt"></span></div>
					<div style="text-align: left;">
						결제 금액: <span id="total_sum"></span></div>
					<div>
						<input type="button" class="btn btn-secondary" value="비우기(선택)" onclick="delSel()"> <input
							type="button" class="btn btn-secondary" value="비우기(전체)" onclick="delAll()">
					</div>
					<input type="button" class="btn btn-success" value="주문하기(선택)" onclick="buySel()"> <input
						type="button" class="btn btn-success" value="주문하기(전체)" onclick="buyAll()">
				</div>
			</div>
		</div>

	</main>
</body>
</html>
