<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>결제 성공</title>
<style type="text/css">
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h3 {
	
}

body {
	text-align: center;
	height: 100%
}
</style>
</head>

<body>
<main>
	<div>
		<div th:replace="fragments/shopnav :: shopnav"></div>
	</div>		
	
	 <div th:if="${completeBuy}"> 
		<h1>주문 성공</h1>
	</div>	
	<div th:unless="${completeBuy}"> 
		<h1 style="color: red;">주문 실패</h1>
	</div>
	
		<br>
		<a href="/shop/main">홈으로</a>
	
	</main>
</body>
</html>