@charset "UTF-8";

*{margin: 0; 
padding: 0; 
box-sizing: border-box;}

main{
	margin:0 auto;
	width:100vw;
}

form {
	width: 60%;
	padding: 20px 20px;
	margin: 0 auto;
	box-sizing: border-box;
}

input[type=text], select {
	width:100%;
	padding: 8px 10px;
	margin: 8px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=password] {
	width:150px;
	padding: 8px 10px;
	margin: 8px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=text]:focus {
	background-color: lightblue;
	border: 3px solid #555;
}
