<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.AdminBoardMapper">


	
<!-- 공지사항 및 FAQ  -->	

	<update 
		id="updateAdminB"
		parameterType="com.example.demo.vo.AdminBoard"
	>
	UPDATE admin_board SET title=#{title}, content=#{content} WHERE adnum=#{adnum}
	</update>	

	<select id="noticeList"
		resultType="map">
		SELECT adnum, title, author, content, hit, adate
		FROM admin_board
		WHERE name='notice'
		ORDER BY adate DESC
	</select>
	
	<select id="faqList"
		resultType="map">
		SELECT adnum, title, author, content, hit, adate
		FROM admin_board
		WHERE name='faq'
		ORDER BY adate DESC
	</select>

	<select id="detail_adminb"
	parameterType="Integer"
	resultType="map"
	>
		SELECT * FROM(
		SELECT n.adnum, n.title, n.author, n.adate, n.content, hit, attsize, attname, attid
		FROM admin_board n LEFT OUTER JOIN admin_attach a
		ON n.adnum = a.adnum
		ORDER BY adnum DESC, attid ASC
		)t
		WHERE adnum=#{adnum}
	</select>

	<update id="increaseHit_admin"
	parameterType="Integer">
	UPDATE admin_board SET hit =hit+1 WHERE adnum= #{adnum}
	</update>
	
	<insert id="addAdminBoard"
	parameterType="com.example.demo.vo.AdminBoard">
	INSERT INTO ADMIN_BOARD(adnum, title, author, adate, content, hit, name)
	VALUES(ADMIN_BOARD_SEQ.NEXTVAL, #{title}, #{author}, sysdate, #{content}, #{hit}, #{name, jdbcType=VARCHAR})
	
	</insert>
	
	<update id="saveAdminAttach"
	parameterType="list">
	INSERT INTO admin_attach (attid, attsize, attname, adnum)
	SELECT
	ADMIN_ATTACH_SEQ.NEXTVAL AS attid, t.* FROM
	(
		<foreach collection="list" item="item" index="index" separator="union all">
		SELECT
		#{item.attsize} AS attsize, 
		#{item.attname} AS attname, 
        (SELECT MAX(adnum) FROM admin_board) AS adnum
		FROM DUAL
		</foreach>
	)t
	</update> 
	
	<update id="moreAttach_admin" 
	parameterType="list">
	INSERT INTO admin_attach (attid, attsize, attname, adnum)
	SELECT
	ADMIN_ATTACH_SEQ.NEXTVAL AS attid, t.* FROM
	(
		<foreach collection="list" item="item" index="index" separator=" union all ">
		SELECT
		#{item.attsize} AS attsize, 
		#{item.attname} AS attname, 
		#{item.adnum} AS adnum
		FROM DUAL
		</foreach>
	)t
	</update> 	
	
	<delete
	id="delAdminAttach"
	parameterType="Integer"
	>
	DELETE FROM admin_attach WHERE attid=#{attid}
	</delete>
	
	<select
		id="getAdminAttach"
		resultType="com.example.demo.vo.AdminAttachBoard"
		parameterType="Integer"
	>
	SELECT * FROM admin_attach WHERE attid=#{attid}
	</select>
	
		<select
		id="getAdminAttachList"
		resultType="com.example.demo.vo.AdminAttachBoard"
		parameterType="Integer"
	>
	SELECT * FROM admin_attach WHERE adnum=#{adnum}
	</select>
	
	<delete
		id="delAdminB"
		parameterType="Integer"
	>
	DELETE FROM admin_board WHERE adnum=#{adnum}
	</delete>
	
	<delete 
		id="deleteAllF_admin"
		parameterType="Integer"
	>
	DELETE FROM admin_attach WHERE adnum=#{adnum} 
	</delete>
	
	<!-- 서치 기능 -->
	<select
      id="search_notice"
      parameterType="String"
      resultType="com.example.demo.vo.AdminBoard"
   >
     SELECT * FROM admin_board WHERE REGEXP_LIKE(title,#{input}) AND name='notice' 
   </select>

	<select
      id="search_faq"
      parameterType="String"
      resultType="com.example.demo.vo.AdminBoard"
   >
     SELECT * FROM admin_board WHERE REGEXP_LIKE(title,#{input}) AND name='faq'
   </select>
   
   	<select
      id="search_qna"
      parameterType="String"
      resultType="com.example.demo.vo.OneBoard"
   >
     SELECT * FROM queboard WHERE REGEXP_LIKE(title,#{input}) AND author=#{userid}
   </select>   
</mapper>