<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.CalendarMapper">
	<insert id="addnut" parameterType="string">
	INSERT INTO NUTRIENTS (USERID, CAL, CARB, PROTEIN, FAT, SUGARS, SODIUM, S_NUM, S_PNUM, WHEN, FOOD_NAME,SERVING_SIZE)
	SELECT #{userid}, CAL, CARB, PROTEIN, FAT, SUGARS, SODIUM, CALEN_SCHEDULE_SEQ.CURRVAL, (SELECT MAX(c_num) FROM hcalendar), #{when}, #{food_name},SERVING_SIZE
	FROM FOOD_INFO
	WHERE FOOD_NAME = #{food_name}
	</insert>
	

	<insert id = "saveCalendar" parameterType="com.example.demo.vo.HCalendar">
		INSERT INTO hcalendar(c_num,datetime,userid)
		VALUES(CALENDAR_SEQ.NEXTVAL,#{datetime},#{userid})
	</insert>
	
	<insert id="saveSchedule" parameterType="com.example.demo.vo.Schedule">
		INSERT INTO calen_schedule(s_num, s_pnum, when, content)
		VALUES(CALEN_SCHEDULE_SEQ.NEXTVAL, (SELECT MAX(c_num) FROM hcalendar), #{when}, #{content})
	</insert>
	
	<update id = "saveAttach" parameterType="list">
		INSERT INTO attachcalendar(a_num,fname,pname,a_pnum)
		SELECT CALEN_ATTACH_SEQ.NEXTVAL AS a_num,t.* FROM 
		(
			<foreach collection="list" item="item" index="index" separator="union all">
				SELECT #{item.fname},#{item.pname} , (SELECT MAX(s_num) FROM calen_schedule)AS a_pnum FROM DUAL
			</foreach>
		)t
	</update>
	
	<select id="scheduleShow" parameterType="String" resultType="map">
		SELECT  a.c_num, a.datetime, b.s_num, b.s_pnum, b.when, b.content, c.a_pnum, c.a_pname, c.fname
		FROM hcalendar a LEFT OUTER JOIN calen_schedule b
		ON a.c_num = b.s_pnum
		LEFT OUTER JOIN attachcalendar c
		ON b.s_num = c.a_pnum
		WHERE a.datetime = #{datetime}
	</select>
	
	<select id="list" parameterType="String" resultType="map">
		SELECT c_num, datetime, s_num, s_pnum, when, content,LISTAGG(PNAME,',')
		WITHIN GROUP (ORDER BY PNAME)AS PNAME
		FROM (SELECT a.c_num, a.datetime, b.s_num, b.s_pnum, b.when, b.content, c.a_num, c.a_pnum, c.pname 
			FROM hcalendar a 
			LEFT OUTER JOIN calen_schedule b
			ON a.c_num = b.s_pnum
			LEFT OUTER JOIN attachcalendar c
			ON b.s_num = c.a_pnum
			WHERE userid = #{userid})
		GROUP BY c_num, datetime, s_num, s_pnum, when, content
		ORDER BY DECODE(when, '아침',1,'점심',2,'저녁',3,'간식',4)
	</select>
	
	<select id="detail" parameterType="Integer" resultType="map">
		SELECT a.c_num, a.datetime, b.s_num, b.s_pnum, b.when, b.content, c.a_num, c.a_pnum, c.pname, c.fname
		FROM hcalendar a 
		LEFT OUTER JOIN calen_schedule b
		ON a.c_num = b.s_pnum
		LEFT OUTER JOIN attachcalendar c
		ON b.s_num = c.a_pnum
		WHERE a.c_num = #{c_num}
	</select>
	
	
	<select id="food_info" parameterType="Integer" resultType="com.example.demo.vo.nutrients">
		SELECT *
		FROM nutrients
		WHERE s_pnum = #{c_num}
	</select>
	
	<update id = "updateAttach" parameterType="list">
		INSERT INTO attachcalendar(a_num,fname,pname,a_pnum)
		SELECT CALEN_ATTACH_SEQ.NEXTVAL AS a_num,t.* FROM 
		(
			<foreach collection="list" item="item" index="index" separator="union all">
				SELECT #{item.fname},#{item.pname}, #{item.a_pnum} FROM DUAL
			</foreach>
		)t
	</update>
	
	<update id="updateContenet" parameterType="com.example.demo.vo.Schedule">
		UPDATE calen_schedule 
		SET content = #{content}
		WHERE s_num = #{s_num}
	</update>
	
	<delete id="delImg" parameterType="Integer">
		DELETE FROM attachcalendar WHERE a_num = #{a_num}
	</delete>
	
	<delete id = "caldelete" parameterType="com.example.demo.vo.HCalendar">
		DELETE FROM hcalendar WHERE c_num = #{c_num}
	</delete>
	
	<delete id = "schdelete" parameterType="com.example.demo.vo.Schedule">
		DELETE FROM calen_schedule WHERE s_pnum = #{s_pnum}
	</delete>
	
	<delete id = "attcaldelete" parameterType="Integer">
		DELETE FROM attachcalendar WHERE a_pnum = #{a_pnum}
	</delete> 
	
</mapper>