<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.CalendarMapper">

	<insert id = "saveCalendar" parameterType="com.example.demo.vo.HCalendar">
		INSERT INTO hcalendar(num,datetime)
		VALUES(CALENDAR_SEQ.NEXTVAL,#{datetime})
	</insert>
	<insert id="saveSchedule" parameterType="com.example.demo.vo.Schedule">
		INSERT INTO calen_schedule(num, pnum, when, content)
		VALUES(CALEN_SCHEDULE_SEQ.NEXTVAL, (SELECT MAX(num) FROM hcalendar), #{when}, #{content})
	</insert>
	
	<update id = "saveAttach" parameterType="list">
		INSERT INTO attachcalendar(num,fname,pname,pnum)
		SELECT CALEN_ATTACH_SEQ.NEXTVAL AS num,t.* FROM 
		(
			<foreach collection="list" item="item" index="index" separator="union all">
				SELECT #{item.fname},#{item.pname} , (SELECT MAX(num) FROM calen_schedule)AS pnum FROM DUAL
			</foreach>
		)t
	</update>
	
	<select id="scheduleShow" parameterType="String" resultType="map">
		SELECT  a.num, a.datetime, b.num, b.pnum, b.when, b.content, c.pnum, c.pname, c.fname
		FROM hcalendar a LEFT OUTER JOIN calen_schedule b
		ON a.num = b.pnum
		LEFT OUTER JOIN attachcalendar c
		ON b.num = c.pnum
		WHERE a.datetime = #{datetime}
	</select>
	
	<select id="todo" parameterType="Integer" resultType="map">
		SELECT a.num, a.year, a.month, a.day, b.num, b.pnum, b.when, b.content, c.pnum, c.pname, c.fname
		FROM (SELECT num, extract(year FROM DATETIME) year, extract(month FROM DATETIME) month, extract(day FROM DATETIME)day FROM hcalendar) a
		LEFT OUTER JOIN calen_schedule b
		ON a.num = b.pnum
		LEFT OUTER JOIN attachcalendar c
		ON b.num = c.pnum
		WHERE a.year = #{year} AND a.month = #{month}
		ORDER BY b.pnum ASC
	</select>
	
	<select id="list" resultType="map">
		SELECT num, datetime, pnum, when, content,LISTAGG(PNAME,',')
		WITHIN GROUP (ORDER BY PNAME)AS PNAME
		FROM EATED_LIST
		GROUP BY num, datetime, pnum, when, content
		ORDER BY NUM DESC
	</select>
	
	<select id="detail" parameterType="Integer" resultType="map">
		SELECT a.num, a.datetime, b.num, b.pnum, b.when, b.content, c.pnum, c.pname, c.fname
		FROM hcalendar a 
		LEFT OUTER JOIN calen_schedule b
		ON a.num = b.pnum
		LEFT OUTER JOIN attachcalendar c
		ON b.num = c.pnum
		WHERE a.num = #{num}
	</select>
	
	<update id="updateContenet" parameterType="com.example.demo.vo.Schedule">
		UPDATE calen_schedule 
		SET content = '#{content}'
		WHERE num = #{num};
	</update>
	
	
	<delete id = "caldelete" parameterType="com.example.demo.vo.HCalendar">
		DELETE FROM hcalendar WHERE num = #{num}
	</delete>
	
<!--	<delete id = "schdelete" parameterType="com.example.demo.vo.Schedule">
		DELETE FROM calen_schedule WHERE pnum = #{pnum}
	</delete>
	
	<delete id = "attcaldelete" parameterType="Integer">
		DELETE FROM attachcalendar WHERE pnum = #{pnum}
	</delete> -->
	
	<delete id = "schattdelete" parameterType="Integer">
		DELETE FROM calen_schedule a
		WHERE EXISTS(
		SELECT 1
		FROM attachcalendar b
		WHERE a.num = b.num
		AND a.pnum = #{pnum} )	
	</delete>
	
</mapper>