<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.MapMapper">
<select id="center" resultType="com.example.demo.vo.MapInfo">
	SELECT * FROM health_center
</select>

<select id="center_search_detail" parameterType="string" resultType="com.example.demo.vo.MapInfo">
	SELECT * FROM health_center where area=#{area, jdbcType=VARCHAR}
</select>
</mapper>