<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.ShopMapper">

	<select id="admininfo"  parameterType="string" resultType="com.example.demo.vo.Admin">
		SELECT * FROM Admin WHERE adminid=#{adminid, jdbcType=VARCHAR}
	</select>
	<update id="addgoods" parameterType="com.example.demo.vo.Goods">
		INSERT INTO goods(goodsnum,goodsname,price,description,category,goods_detail) 
		VALUES(addgoods_SEQ.NEXTVAL,#{goodsname},#{price},#{description},#{category},#{goods_detail})
	</update>
	<update id="addgoods_att2" parameterType="com.example.demo.vo.AddGoods_Att">
		INSERT INTO addgoods_att(goodspho_seq,goodsnum,mainpic_original,mainpic_server,detail_original,detail_server)
		VALUES(addgoods_att_SEQ.NEXTVAL, (SELECT MAX(goodsnum)FROM goods),#{mainpic_original},#{mainpic_server},
		#{detail_original},#{detail_server})

	</update>
	
	<update id="addgoods_att" parameterType="com.example.demo.vo.AddGoods_Att">
		INSERT INTO addgoods_att(goodspho_seq,goodsnum,mainpic_original,mainpic_server,detail_original,detail_server)
		SELECT addgoods_att_SEQ.NEXTVAL AS goodspho_seq, t.* FROM
		(
		<foreach collection="list" item="item" index="index" separator=" union all ">
			SELECT (SELECT MAX(goodsnum)FROM goods) AS goodsnum, 
			#{item.mainpic_original}, #{item.mainpic_server},#{item.detail_original},#{item.detail_server} FROM DUAL
		</foreach>
		)t
	</update>
	
	<select id="mainpagegoods" parameterType="String" resultType="map">
		select * from goods g inner join addgoods_att t on g.goodsnum=t.goodsnum
	</select>
	
	<select id="list" resultType="com.example.demo.vo.Shop">
		SELECT * FROM shop WHERE userid=#{userid, jdbcType=VARCHAR}
	</select>
	
	<select id="detail" parameterType="String" resultType="com.example.demo.vo.Shop">
		SELECT * 
		FROM shop
		WHERE ordernum = #{ordernum, jdbcType=VARCHAR}
	</select>
	
	<select id="search" parameterType="String" resultType="com.example.demo.vo.GoodsAndAtt">
		select * from goods g inner join addgoods_att t on g.goodsnum=t.goodsnum
		WHERE goodsname LIKE '%'||#{searchbox}||'%' 
	</select>
	
	<select id="category1" parameterType="String" resultType="com.example.demo.vo.GoodsAndAtt">
		select * from goods g inner join addgoods_att t on g.goodsnum=t.goodsnum
		WHERE category = '건강보조식품'
	</select>
	
	<select id="category2" parameterType="String" resultType="com.example.demo.vo.GoodsAndAtt">
		select * from goods g inner join addgoods_att t on g.goodsnum=t.goodsnum
		WHERE category = '건강기능식품'
	</select>
	
	<select id="category3" parameterType="String" resultType="com.example.demo.vo.GoodsAndAtt">
		select * from goods g inner join addgoods_att t on g.goodsnum=t.goodsnum
		WHERE  category = '식품'
	</select>
	
</mapper>