<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.UserEditMapper">

<select id="userlist" resultType="com.example.demo.vo.User">
	SELECT * FROM userjoin
</select>
<select id="userinfo" parameterType="string" resultType="com.example.demo.vo.User">
		SELECT * FROM userjoin WHERE userid=#{userid, jdbcType=VARCHAR}
</select>
<update id="useredit" parameterType="string">
	UPDATE userjoin SET nickname=#{nickname, jdbcType=VARCHAR}, email=#{email,jdbcType=VARCHAR}, 
	phone=#{phone,jdbcType=VARCHAR}, profile=#{profile,jdbcType=VARCHAR} WHERE userid=#{userid,jdbcType=VARCHAR}
</update>
<delete id="deleteuser" parameterType="com.example.demo.vo.User">
	UPDATE userjoin SET enabled=0 WHERE userid=#{userid,jdbcType=VARCHAR}
</delete>

<update id="changepwd" parameterType="string">
	UPDATE userjoin SET pwd=#{pwd,jdbcType=VARCHAR} WHERE userid=#{userid,jdbcType=VARCHAR}
</update>

<select id="getmyboard" parameterType="string" resultType="com.example.demo.vo.Freeboard">
	SELECT * FROM freeboard where userid=#{userid}
</select>
<select id="maintitle" parameterType="int" resultType="com.example.demo.vo.Main_Title">
	SELECT * FROM main_title where num=#{i}
</select>
</mapper>