<!DOCTYPE html>
<html lang="en">
<head th:fragment="html-head">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>건강한 한끼 : 건끼</title>
</head>

<body>
	<div th:fragment="header">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" />
		<!-- https://fonts.google.com/specimen/Open+Sans -->
		<link rel="stylesheet" href="/css/all.min.css" />
		<!-- https://fontawesome.com/ -->
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<!-- https://getbootstrap.com/ -->
		<link rel="stylesheet" href="/css/tooplate-style.css" />
		<!-- 상단 로그인 부분 session 사용해서 로그인 정보 띄우기-->
		<nav style="float: right;">
			<ul style="list-style: none; padding-right: 40px; padding-top: 10px;">
				<li><span th:if="${session.userid}!=null">[[${session.userid}]] ||
						<a href="/team/logout">로그아웃</a>|| 
						<a th:href="'/health/useredit/'+ ${session.userid}">마이페이지</a>
				</span> <span th:unless="${session.userid}!=null"><a
						style="color: inherit; text-decoration: none; font-size: medium"
						href="/team/login">로그인</a></span></li>
			</ul>
		</nav>

		<!-- page header -->
		<div style="height: 170px; background-color: white;">
			<div class="container" id="home" style="background-color: white;">
				<div class="col-12 text-center">
					<div class="tm-page-header" style="background-color: white;">
						<i class="fas fa-4x  mr-4"></i>
						<h1 class="d-inline-block text-uppercase">
							<a href="/health/main" style="color: black;">HEALTH</a>
						</h1>
					</div>
				</div>
			</div>
		</div>

		<!-- 네비게이션바 -->
		<div class="tm-nav-section" style="padding-top: 0px">
			<link rel="stylesheet" href="/css/common/navbar.css" />
			<script src="/js/common/navbar.js"></script>
			<div class="container">
				<div class="row">
					<div class="col-12">
						<nav id="navbar" class="navbar navbar-expand-md navbar-light">
							<button class="navbar-toggler" type="button"
								data-toggle="collapse" data-target="#tmMainNav"
								aria-controls="tmMainNav" aria-expanded="false"
								aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>

							<div class="collapse navbar-collapse" id="tmMainNav">
								<!-- 
								tmMainNav에서 동작하는 javascript는 밑에 js파일에 작성하시오.
								 -->
								<ul class="navbar-nav mx-auto tm-navbar-nav" >
									<li class="nav-item"><a class="nav-link"
										href="/health/main">Home <span class="sr-only">(current)</span></a></li>
									<li class="nav-item">
										<a class="nav-link" href="/calen/getCalendar">Calendar</a>
									</li>
									<li class="nav-item com">
										<a class="nav-link" href="/freeboard">Community</a>
										<!--
										li 태그 안에 ul 넣고 class 이름을 navbar_item_menu라고 주면 마우스가 올라가면 보이고
										마우스가 태그 밖으로 나가면 사라집니다.
										-->
										<ul class="navbar_item_menu">
											<li><a href="/freeboard?bname=free">자유게시판</a></li>
											<li><a href="/freeboard?bname=meal">식단게시판</a></li>
											<li><a href="/freeboard?bname=beforafter">비포에프터게시판</a></li>
										</ul>
									</li>
									<li class="nav-item"><a class="nav-link" href="#">Company</a>
									</li>
									<li class="nav-item com">
										<a class="nav-link" href="/admin/faq/1/10">Support</a>
										<ul class="navbar_item_menu">
											<li><a href="/health/faq/1/10">FAQ</a></li>
											<li><a href="/health/notice/1/10">공지사항</a>
											<li><a href="/health/qna/1/10">1:1 문의</a>
										</ul>

									</li>
									<li class="nav-item">
										<a class="nav-link" href="/shop/ShopMainPage">Shop</a>
									</li>
								</ul>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<p>
			<!-- 조금 남는 칸 매꾸기 -->
		<div style="width: 1000px; height: 11px; background-color: white;"></div>


		<script src="/js/jquery-1.9.1.min.js"></script>
		<!-- Single Page Nav plugin works with this version of jQuery -->
		<script src="/js/jquery.singlePageNav.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script>
			// Parallax function
			// https://codepen.io/roborich/pen/wpAsm
			var background_image_parallax = function($object, multiplier) {
				multiplier = typeof multiplier !== "undefined" ? multiplier
						: 0.5;
				multiplier = 1 - multiplier;
				var $doc = $(document);
				$object.css({
					"background-attatchment" : "fixed"
				});
				$(window).scroll(
						function() {
							var from_top = $doc.scrollTop(), bg_css = "center "
									+ multiplier * from_top + "px";
							$object.css({
								"background-position" : bg_css
							});
						});
			};

			$(window).scroll(function() {
				if ($(this).scrollTop() > 50) {
					$(".scrolltop:hidden").stop(true, true).fadeIn();
				} else {
					$(".scrolltop").stop(true, true).fadeOut();
				}

				// Make sticky header
				if ($(this).scrollTop() > 158) {
					$(".tm-nav-section").addClass("sticky");
				} else {
					$(".tm-nav-section").removeClass("sticky");
				}
			});

			let videoSec;

			$(function() {
				if (detectIE()) {
					alert("Please use the latest version of Edge, Chrome, or Firefox for best browsing experience.");
				}
				const mainNav = $("#tmMainNav");
				mainNav.singlePageNav({
					filter : ":not(.external)",
					offset : $(".tm-nav-section").outerHeight(),
					updateHash : true,
					beforeStart : function() {
						mainNav.removeClass("show");
					}
				});

				videoSec = $("#tmVideoSection");

				// Back to top
				$(".scroll").click(function() {
					$("html,body").animate({
						scrollTop : $("#home").offset().top
					}, "1000");
					return false;
				});
			});
		</script>

	</div>
</body>
</html>
