<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>footer</title>
</head>
<div th:fragment="footernav"></div>
	<nav>
		<footer>
				<div id="bottomMenu">
					<ul>
					<li><a href="#">회사 소개</a></li>
					<li><a href="#">개인정보처리방침</a></li>
					<li><a href="#">쇼핑몰약관</a></li>
					<li><a href="#">사이트맵</a></li>
				</ul>
				<div id="sns">
					<ul>
						<li><a href="#"><img class="sns-img" src="/shopmain/facebook.png"></a></li>
						<li><a href="#"><img class="sns-img" src="/shopmain/twitter.png"></a></li>
						<li><a href="#"><img class="sns-img" src="/shopmain/instagram.png"></a></li>
						<li><a href="#"><img class="sns-img" src="/shopmain/kakao-talk.png"></a></li>
					</ul>
				</div>
				</div>
				<div id="company">
					<p>서울특별시 관악구 신림로 340 르네상스쇼핑몰 6층 (대표전화) 123-456-7890</p>
				</div>
		</footer>
	</nav>
</body>
</html>