<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div th:fragment="header" style="margin: 0;
    padding: 0;">
<link rel="stylesheet" href="/css/manager/managernav.css" />

<ul class="menu">
	<li><a class="job" href="/manager/main">MENU</a></li>
	<li><a class="job" href="/manager/userlist">유저관리</a></li>
	<li><a class="job" href="/manager/shop">배송관리</a></li>
	<li class="con">
      <a class="job" href="#">컨텐츠관리</a>
      <ul class="submenu">
        <li><a href="/manager/board?bname=free">자유게시판</a></li>
        <li><a href="/manager/board?bname=beforafter">비포에프터게시판</a></li>
        <li><a href="/manager/board?bname=meal">식단공유게시판</a></li>
      </ul>
    </li>
    <li class="item">
      <a class="job" href="#">상품관리</a>
      <ul class="submenu">
        <li><a href="/shop/addgoods/admin">상품등록</a></li>
        <li><a href="/manager/shopitem">상품관리</a></li>
      </ul>
    </li>
	<li class="con">
      <a class="job" href="/admin/qaList/1/10">고객관리</a>
      <ul class="submenu">
        <li><a href="/admin/qaList">1:1 문의</a></li>
        <li><a href="/admin/board?name=faq">FAQ</a></li>
        <li><a href="/admin/board?name=notice">공지사항</a></li>
      </ul>
    </li>
</ul>
</div>
</body>
</html>