<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>mypagenav</title>
</head>
<body>
<div th:fragment="mypagenav">

<div id="leftbox" style="float:left; width: 30%; height: 100%; border-right: solid 0.5px black;">

	<div class="profile_area" style="display: flex; justify-content: center;">
	    <div class="profile_inner" style=" padding-top:70px; text-align: center;">
	    	<div style="width: 150px;height: 150px; border-radius: 70%;overflow: hidden;">
		        <a href="#" onclick="changeImage()" class="photo">
		            <img th:src="${user.profile}" style="width:100%; height:100%; " alt="프로필 이미지">
		            <span class="photo_edit"></span>
		        </a>
	        </div>
	        <div id="myp" class="profile">
	            <div class="useid" style="font-size:1.5em; color:black; font-weight: bold;">[[${session.userid}]]</div>
	            <div class="usemail">[[${user.email}]]</div>
	        </div>
	    </div>    
	</div>

    <div id="headerLeft" class="header_left" style="width:250px; height:300px; margin: auto;">

        <ul class="left_menu" role="menu" style="display: inline;">
           <!-- 
            <li style="padding-top:50px; font-size:1.2em;">
                <a href="" class="left_item" role="menuitem" onclick="" aria-current="true" style="color:black;">
                    <div class="menu_text on">내정보</div>
                </a>
            </li> -->
            <li style="padding-top:20px; font-size:1.2em;">
                <a th:href="@{'/health/useredit/'+ ${session.userid}}"class="left_item" role="menuitem" onclick="" style="color:black;">
                    <div class="menu_text ">개인정보 관리</div>
                </a>
            </li>
            <li style="padding-top:20px; font-size:1.2em;">
                <a th:href="@{'/health/findpwd/'+ ${session.userid}}" class="left_item" role="menuitem" onclick="" style="color:black;">
                    <div class="menu_text ">비밀번호 수정</div>
                </a>
            </li>
            <li style="padding-top:20px; font-size:1.2em;">
                <a th:href="@{'/health/myboard/'+ ${session.userid}}" class="left_item" role="menuitem" onclick="" style="color:black;">
                    <div class="menu_text ">게시글 관리</div>
                </a>
            </li>
        </ul>
        <!--  
        <ul class="left_link">
            <li style="padding-top:20px; font-size:1.2em;">
            	 <a href="" class="left_item" role="menuitem" onclick="" style="color:black;">
                    <div class="menu_text ">기타</div>
                </a>
            </li>
        </ul>-->
	</div>
</div>

</div>
</body>
</html>