<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Gunkki : shop</title>
</head>
<body>
<div th:fragment="shopnav">
<link rel="stylesheet" href="/css/shopnav.css">
	<header>
		<div id="logo">
			<a href="/shop/ShopMainPage">
				<h1>건끼 : Shop</h1>
			</a>
		</div>
		
		<nav id="navlog">
			<ul >
				<li>
					<span th:if="${session.userid}!=null">[[${session.userid}]] ||
						<a href="/doLogout">로그아웃</a>|| 
						<a th:href="'/health/useredit/'+ ${session.userid}">마이페이지</a>
					</span> 
					<span th:unless="${session.userid}!=null">
						<a href="/team/login">로그인</a>
					</span>
				</li>
			</ul>
		</nav>
		<nav id="navbar">
			<ul id="topMenu">
				<li><a href="#">상품카테고리<span>▼</span></a>
					<ul>
						<li><a href="/shop/category1">비타민</a></li>
						<li><a href="/shop/category2">칼슘</a></li>
						<li><a href="/shop/category3">단백질</a></li>
					</ul>
				</li>
				<!-- 
				<li><a href="#">네비바2<span>▼</span>	</a>
					<ul>
						<li><a href="#">2-1</a></li>
						<li><a href="#">2-2</a></li>
					</ul>
				</li> -->
				<li><a href="/health/qna">문의하기</a></li>
				<li><a href="/shop/cart">장바구니</a></li>
				<li><a href="/health/main">건끼로 돌아가기</a></li>
			</ul>		
		</nav>
		
	</header>
</div>		
</body>
</html>