<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/manager/managertable.css" />
</head>
<body style="margin:0 auto; background-color: rgb(223,223,223);">
<div>
    <div th:replace="fragments/managernav :: header"></div>
</div>
<div class="usertable main">
	<div style="text-align: center">
		<h2 th:text="${bname}"></h2>
	</div>
	<table class="table">
		<tr>
			<th>글번호</th>
			<th>글제목</th>
			<th>작성자</th>
			<th>작성일</th>
			<th>조회수</th>
		</tr>
		<tr id="shop" th:each="board : ${blist}" th:onclick="|location.href='@{'/'+ ${url} + '?fbnum=' + ${board.fbnum}}'|" style="cursor:pointer;">
			<td>
				<span th:text="${board.fbnum}"></span>
			</td>
			<td>
				<span th:text="${board.title}" ></span>
			</td>
			<td>
				<span th:text="${board.author}"></span>
			</td>
			<td>
				<span th:text="${board.datetime}"></span>
			</td>
			<td>
				<span th:text="${board.hit}"></span>
			</td>
		</tr>	
	</table>	
</div>
</body>
</html>