<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<link rel="stylesheet" href="/css/manager/managertable.css" />
</head>
<body style="margin:0 auto; background-color: rgb(223,223,223);">
<div>
    <div th:replace="fragments/managernav :: header"></div>
</div>
<div class="usertable main">
	<table>
	<a th:href="@{'/'+ ${url} + '?status=' + '상품준비중'}">
	<h3 style="width:300px">상품준비중</h3></a>
		<tr>
			<th>주문번호</th>
			<th>구매자</th>
			<th>품목</th>
			<th>구매수량</th>
			<th>구매가격</th>
			<th>배송상태</th>
		</tr>
		<tr id="shop" th:each="shop : ${shop1}">
			<td>
				<span th:text="${shop.ordernum}" id="ordernum"></span>
			</td>
			<td>
				<span th:text="${shop.userid}"></span>
			</td>
			<td>
				<span th:text="${shop.itemname}"></span>
			</td>
			<td>
				<span th:text="${shop.quantity}"></span>
			</td>
			<td>
				<span th:text="${shop.totalprice}"></span>
			</td>
			<td>
				<span th:text="${shop.status}"></span>
			</td>
		</tr>	
	</table>
	<table>
	<a th:href="@{'/'+ ${url} + '?status=' + '배송준비중'}">
	<h3 style="width:300px">배송준비중</h3></a>
		<tr>
			<th>주문번호</th>
			<th>구매자</th>
			<th>품목</th>
			<th>구매수량</th>
			<th>구매가격</th>
			<th>배송상태</th>
		</tr>
		<tr id="shop" th:each="shop : ${shop2}">
			<td>
				<span th:text="${shop.ordernum}" id="ordernum"></span>
			</td>
			<td>
				<span th:text="${shop.userid}"></span>
			</td>
			<td>
				<span th:text="${shop.itemname}"></span>
			</td>
			<td>
				<span th:text="${shop.quantity}"></span>
			</td>
			<td>
				<span th:text="${shop.totalprice}"></span>
			</td>
			<td>
				<span th:text="${shop.status}"></span>
			</td>
		</tr>	
	</table>
	<table>
	<a th:href="@{'/'+ ${url} + '?status=' + '배송중'}">
	<h3 style="width:300px">배송중</h3></a>
		<tr>
			<th>주문번호</th>
			<th>구매자</th>
			<th>품목</th>
			<th>구매수량</th>
			<th>구매가격</th>
			<th>배송상태</th>
		</tr>
		<tr id="shop" th:each="shop : ${shop3}">
			<td>
				<span th:text="${shop.ordernum}" id="ordernum"></span>
			</td>
			<td>
				<span th:text="${shop.userid}"></span>
			</td>
			<td>
				<span th:text="${shop.itemname}"></span>
			</td>
			<td>
				<span th:text="${shop.quantity}"></span>
			</td>
			<td>
				<span th:text="${shop.totalprice}"></span>
			</td>
			<td>
				<span th:text="${shop.status}"></span>
			</td>
		</tr>	
	</table>
	<table>
	<a th:href="@{'/'+ ${url} + '?status=' + '배송완료'}">
	<h3 style="width:300px">배송완료</h3></a>
		<tr>
			<th>주문번호</th>
			<th>구매자</th>
			<th>품목</th>
			<th>구매수량</th>
			<th>구매가격</th>
			<th>배송상태</th>
		</tr>
		<tr id="shop" th:each="shop : ${shop4}">
			<td>
				<span th:text="${shop.ordernum}" id="ordernum"></span>
			</td>
			<td>
				<span th:text="${shop.userid}"></span>
			</td>
			<td>
				<span th:text="${shop.itemname}"></span>
			</td>
			<td>
				<span th:text="${shop.quantity}"></span>
			</td>
			<td>
				<span th:text="${shop.totalprice}"></span>
			</td>
			<td>
				<span th:text="${shop.status}"></span>
			</td>
		</tr>	
	</table>
	</div>
</body>
</html>