<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	.usertable {
	width:60%;
	height:500px;
	
	}
	table {
    width: 95%;
    border: 1px solid #444444;
    border-collapse: collapse;
 	}
  	th, td {
    padding: 10px;
    text-align: center;
  	}
  	th{
  	font-size:20px;}
  	.btn {
  	text-align:center;
  	margin: 0 auto;
  	margin-top:20px;
  	margin-right:5%;
  	}
  	h3{
  	margin:50px 0 10px 10px;
  	float:left;
  	}
  	form{
  	 margin-left:230px;
  	 }
</style>

</head>
<body style="margin:0; padding: 0px">
<div>
    <div th:replace="fragments/managernav :: header"></div>
</div>
<form>
	<div class="usertable">
	<h3>유저 목록</h3>
	<table>
		<tr>
			<th>userid</th>
			<th>nickname</th>
		</tr>
		<tr id="userlist" th:each="user : ${userlist}">
			<td>
				<a th:href="@{'/'+ ${url} + '/' + ${user.userid}}" th:text="${user.userid}"></a>
			</td>
			<td>
				<span th:text="${user.nickname}"></span>
			</td>
		</tr>	
	</table>
	</div>
</form>
<nav>
    <ul>
        <!-- getPrePage : 이전 페이지 -->
        <li th:classappend="${users.getPrePage() == 0} ? 'disabled'">
            <!-- href: /page?pageNum=이전페이지&keyword=검색분류&search=검색어 -->
            <a th:href="@{/page(pageNum=${users.getPrePage()}, keyword=${search.getKeyword()}, search=${search.getSearch()})}">Previous</a>
        </li>
        <!-- getNavigateFirstPage() : 페이징의 처음 숫자 getNavigateLastPage : 페이징의 마지막 숫자를 이용해 페이징 숫자 출력 -->
        <!-- href : /page?pageNum=선택한 페이지&keyword=검색분류&search=검색어 -->
        <li th:each="page: ${#numbers.sequence(users.getNavigateFirstPage(), users.getNavigateLastPage())}" th:classappend="${page == users.getPageNum()} ? 'active'">
            <a th:text="${page}" th:href="@{/page(pageNum=${page}, keyword=${search.getKeyword()}, search=${search.getSearch()})}"></a>
        </li>
        <!-- getPrePage : 다음 페이지 -->
        <li th:classappend="${users.getNextPage() == 0} ? 'disabled'">
            <!-- href: /page?pageNum=다음페이지&keyword=검색분류&search=검색어 -->
            <a th:href="@{/page(pageNum=${users.getNextPage()}, keyword=${search.getKeyword()}, search=${search.getSearch()})}">Next</a>
        </li>
    </ul>
</nav>
</body>
</html>