<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
table {
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
  }
  th, td {
    border-bottom: 1px solid #444444;
    padding: 10px;
    text-align: center
  }
</style>
</head>
<body>
<table>
<tr>
	<th>회원이름</th>
	<th>주문번호</th>
	<th>제품명</th>
	<th>총가격</th>
	<th>구매날짜</th>
	<th>적립포인트</th>
	<th>주문상태</th>
</tr>
<tr  th:each="shop : ${list}">
	<td>[[${shop.userid}]]</td>
	<td><a th:href="@{'/' + ${url} + '/' + ${shop.ordernum}}">[[${shop.ordernum}]]</a></td>
	<td>[[${shop.itemname}]]</td>
	<td>[[${shop.totalprice}]]</td>
	<td>[[${shop.pdate}]]</td>
	<td>[[${shop.itempoint}]]</td>
	<td>[[${shop.status}]]</td>
</tr>
</table>
</body>
</html>