@charset "UTF-8";

body {
}

main > hr {
	border-top: 1px solid grey;
}

#title_div {
	width: 100%;
	height: 10%;
	font-size: 0px;
}

#bname {
	font-size: initial;
	width: 20%;
}

#title {
	font-size: initial;
	width: 80%;
}

#contents {
	overflow: auto;
	width: 100%;
	height: 40vh;
}

#fileListDiv {
	overflow: auto;
	width: 100%;
	height: 10vh;
}

#file_div {
}

#file_btn_div {
	margin: 0px;
	border: 0px;
	padding: 0px;
	
	width: fit-contents;
	height: 30px;
	font-size: 0px;
}

#insert_img_btn {
	background-color: white;
	
	margin: 0px;
	border: 1px solid black;
	padding: 0px;
	
	width: 100px;
    height: 30px;
    color: black;
    font-size: initial;
}

#file_upload_btn {
	background-color: white;
	display: inline-block;
	
	margin: 0 auto;
	border: 1px solid black;
	
	width: 100px;
    height: 30px;
    color: black;
    font-size: initial;
    text-align: center;
}

#goback_btn {
	position: fixed;
	botton: 0px;
	left: 0px;
	
	background-color: white;
	margin: 0px;
	border: 1px solid black;
	padding: 0px;
	
	width: 100px;
	height: 30px;
	color: black;
	font-size: initial;
}

#add_freeboard_btn {
	position: fixed;
	botton: 0px;
	right: 0px;
	
	background-color: white;
	margin: 0px;
	border: 1px solid black;
	padding: 0px;
	
	width: 100px;
	height: 30px;
	color: black;
	font-size: initial;
}