@charset "UTF-8";

main {
	margin: 0px;
	padding: 0px;
	width: 100vw;
	height: 77vh;
	color: black;
}

#detail_freeboard_div {
	margin: 10px auto;
	padding: 0px;
	border: 0px;
	width: 80%;
	min-height: 50%;
	font-size: 0;
}
#fbnum {
	background: rgb(223,223,223);
	padding: 5px 10px;
	margin: 1px 1px;
	border-radius: 10px;
	display: inline-block;
	font-size: initial;
}
#bname {
	background: rgb(223,223,223);
	padding: 5px 10px;
	margin: 1px 1px;
	border-radius: 10px;
	display: inline-block;
	font-size: initial;
}
#title {
	background: rgb(223,223,223);
	padding: 5px 10px;
	margin: 1px 1px;
	border-radius: 10px;
	display: inline-block;
	font-size: initial;
}
#author {
	background: rgb(223,223,223);
	padding: 5px 10px;
	margin: 1px 1px;
	border-radius: 10px;
	display: inline-block;
	font-size: initial;
}
#contents {
	background: rgb(223,223,223);
	display: block;
	margin: 1px 1px;
	border-radius: 10px;
	padding: 5px 10px;
	min-height: 500px;
	font-size: initial;
}

#detail_freeboard_button_div {
	margin: auto;
	padding: 0px;
	width: 80%;
	height: auto;
	text-align: center;
}
#freeboard_goback_button {
	display: inline-block;
	margin: 1px 1px;
	border-radius: 10px;
	border: 1px solid black;
	padding: 5px 10px;
	font-size: initial;
}
#freeboard_edit_button {
	display: inline-block;
	margin: 1px 1px;
	border-radius: 10px;
	border: 1px solid black;
	padding: 5px 10px;
	font-size: initial;
}

#reply {
	background-color: red;
	margin: 10px auto;
	width: 80%;
}
#reply_author {
	background-color: blue;
}
#reply_contents {
	
}