@charset "UTF-8";

body {
}

main {
	background-color: white;
	padding: 5px;
	width: 100vw;
	height: 100vh;
}

#freeboard > hr {
	border-top: 1px solid grey;
}

#freeboard {
	background-color: rgb(256,256,256);
	margin: auto;
	padding: 5px;
	border-radius: 10px;
	border: 1px solid black;
	width: 80%;
}

#title_div {
	margin: auto;
	width: 100%;
	font-size: 0px;
	text-align: center;
}

#bname {
	display: inline-block;
	box-sizing: border-box;
	border-radius: 10px;
	padding: 5px 10px;
	width: 20%;
	font-size: initial;
}

#title {
	display: inline-block;
	box-sizing: border-box;
	border-radius: 10px;
	border: 1px solid black;
	padding: 5px 10px;
	width: 80%;
	font-size: initial;
}

#contents_div {
	margin-top: 5px;
	width: 100%;
}
#contents {
	overflow: auto;
	width: 100%;
	min-height: 50vh;
	color: black;
}

#listAttach_div {
	padding: 5px;
	width: 100%;
}
#listAttach {
	overflow: auto;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	padding: 5px;
	height: 10vh;
}

#file_btn_div {
	padding: 5px;
	text-align: left;
}
#file_upload_btn {
	background: rgb(239,239,239);
	display: inline-block;
	margin: 0px;
	border-radius: 10px;
	border: 1px solid black;
	padding: 5px 10px;
	font-size: initial;
	color: black;
}

#delete_file_btn {
	background: rgb(239,239,239);
	display: inline-block;
	margin: 0px;
	border-radius: 10px;
	border: 1px solid black;
	padding: 5px 10px;
	font-size: initial;
}

#insert_img_btn {
	background: rgb(239,239,239);
	display: inline-block;
	margin: 0px;
	border-radius: 10px;
	border: 1px solid black;
	padding: 5px 10px;
	font-size: initial;
}

#freeboard > hr {
	margin: 5px;
	border-top: 1px solid grey;
}

#editFreeboard_btn_div {
	padding: 5px;
	text-align: center;
}
#goback_editFreeboard_btn {
	background: rgb(239,239,239);
	display: inline-block;
	margin: 0px;
	border-radius: 10px;
	border: 1px solid black;
	padding: 5px 10px;
	font-size: initial;
}
#delete_freeboard_btn {
	background: rgb(239,239,239);
	display: inline-block;
	margin: 0px;
	border-radius: 10px;
	border: 1px solid black;
	padding: 5px 10px;
	font-size: initial;
}
#add_freeboard_btn {
	background: rgb(239,239,239);
	display: inline-block;
	margin: 0px;
	border-radius: 10px;
	border: 1px solid black;
	padding: 5px 10px;
	font-size: initial;
}