<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
<div id="container">
		<!-- CONTENTS -->
		<!-- CONTENTS -->
	<div id="content">
		<div class="c_header">
			<h2>탈퇴 안내</h2>
			<p class="contxt">회원탈퇴를 신청하기 전에 안내 사항을 꼭 확인해주세요.</p>
		</div>

		<div class="section_delete">
			<h3 class="h_dropout">
						     	  사용하고 계신 아이디(<em>[[${user.userid}]]</em>)는 탈퇴할 경우 재사용 및 복구가 불가능합니다.
						     </h3>
			<p class="dropout_dsc">
						     	  <em>탈퇴한 아이디는 본인과 타인 모두 재사용 및 복구가 불가</em>하오니 신중하게 선택하시기 바랍니다.
						     </p>
			<h3 class="h_dropout">탈퇴 후 회원정보 및 개인형 서비스 이용기록은 모두 삭제됩니다.</h3>
			<p class="dropout_dsc">
						     	  회원정보 및 메일, 연락처, 주소록 등 개인형 서비스 이용기록은 모두 삭제되며, 삭제된 데이터는 복구되지 않습니다.<br>삭제되는 내용을 확인하시고 필요한 데이터는 미리 백업을 해주세요.
						     </p>
		
			<h3 class="h_dropout">탈퇴 후에도 게시판형 서비스에 등록한 게시물은 그대로 남아 있습니다.</h3>
			<p class="dropout_dsc">게시판0, 게시판1, 게시판2 등에 올린 게시글 및 댓글은 탈퇴 시 자동 삭제되지 않고 그대로 남아 있습니다.
			<br>
						     	  삭제를 원하는 게시글이 있다면 <em>반드시 탈퇴 전 비공개 처리하거나 삭제하시기 바랍니다.</em>
						     
			<br>
								탈퇴 후에는 회원정보가 삭제되어 본인 여부를 확인할 수 있는 방법이 없어, 게시글을 임의로 삭제해드릴 수 없습니다. <br>
							 
			</p>
			<table cellspacing="0" border="1" summary="탈퇴 후 게시판형 서비스에 등록한 게시물 유지 안내" class="tbl_type">
			
				<colgroup>
					<col width="145"><col width="*">
				</colgroup>
				<tbody id="tblBullet2"> 
				<tr>
					<th scope="row">자유게시판</th>
					<td> 업로드한 영상, 사진, 댓글, 영상에 대한 좋아요 등</td>
				</tr>
	
				<tr>
					<th scope="row">식단공유게시판</th>
					<td> 업로드한 영상, 사진, 댓글, 영상에 대한 좋아요 등</td>
				</tr>
	
				<tr>
					<th scope="row">관리자게시판</th>
					<td> 업로드한 영상, 사진, 댓글, 게시글 등</td>
				</tr>
	
				<tr>
					<th scope="row">캘린더</th>
					<td> 캘린더에 저장한 내용 식단 등</td>
				</tr>
	
				<tr>
					<th scope="row">영양정보제공</th>
					<td> 사용자의 영양정보 분석 및 부족 영양소 제공 </td>
				</tr>
	
				<tr>
					<th scope="row">자유게시판</th>
					<td> 업로드한 영상, 사진, 댓글, 영상에 대한 좋아요 등</td>
				</tr>
				
				<tr>
					<th scope="row">자유게시판</th>
					<td> 업로드한 영상, 사진, 댓글, 영상에 대한 좋아요 등</td>
				</tr>
				
				<tr>
					<th scope="row">자유게시판</th>
					<td> 업로드한 영상, 사진, 댓글, 영상에 대한 좋아요 등</td>
				</tr>
				
				<tr>
					<th scope="row">자유게시판</th>
					<td> 업로드한 영상, 사진, 댓글, 영상에 대한 좋아요 등</td>
				</tr>
				
				<tr>
					<th scope="row">자유게시판</th>
					<td> 업로드한 영상, 사진, 댓글, 영상에 대한 좋아요 등</td>
				</tr>
				
				<tr>
					<th scope="row">자유게시판</th>
					<td> 업로드한 영상, 사진, 댓글, 영상에 대한 좋아요 등</td>
				</tr>
				
				<tr>
					<th scope="row">자유게시판</th>
					<td> 업로드한 영상, 사진, 댓글, 영상에 대한 좋아요 등</td>
				</tr>
				
				<tr>
					<th scope="row">자유게시판</th>
					<td> 업로드한 영상, 사진, 댓글, 영상에 대한 좋아요 등</td>
				</tr>
				
				<tr>
					<th scope="row">자유게시판</th>
					<td> 업로드한 영상, 사진, 댓글, 영상에 대한 좋아요 등</td>
				</tr>
				
				<tr>
					<th scope="row">자유게시판</th>
					<td> 업로드한 영상, 사진, 댓글, 영상에 대한 좋아요 등</td>
				</tr>
	
				<tr>
					<th scope="row">자유게시판</th>
					<td> 업로드한 영상, 사진, 댓글, 영상에 대한 좋아요 등</td>
				</tr>
				
				<tr>
					<th scope="row">자유게시판</th>
					<td> 업로드한 영상, 사진, 댓글, 영상에 대한 좋아요 등</td>
				</tr>
	
				<tr>
					<th scope="row">자유게시판</th>
					<td> 업로드한 영상, 사진, 댓글, 영상에 대한 좋아요 등</td>
				</tr>
				</tbody>
			</table>
           <div class="more_wrap"> 
               <a id="more_list2" class="btn_more">더보기</a> 
           </div> 
           
           
			<form name="fm" id ="fm" method="post" action="/user2/help/leaveId?m=viewInputUserInfo">
				<input type="hidden" name="token_help" value="H51IbCMsMffj2AC0" />
				<input type="hidden" name="lang" value="ko_KR" />
				<div class="dropout_agree_area">
					<p class="contxt">
						<strong>
						     	  탈퇴 후에는 아이디 <em>[[${user.userid}]]</em> 로 다시 가입할 수 없으며 아이디와 데이터는 복구할 수 없습니다.
						     <br>
								 게시판형 서비스에 남아 있는 게시글은 탈퇴 후 삭제할 수 없습니다.<br>
							</strong>
					</p>
					<input type="checkbox" id="dropoutAgree" name="dropoutAgree" onclick="" >
					<label for="dropoutAgree"><strong>안내 사항을 모두 확인하였으며, 이에 동의합니다.</strong></label>
				</div>
				<div class="btn_area_w">
					<p class="btn_area">
						<a href="" id="btnNext" class="btn_model"><b class="btn3">확인</b></a>
					</p>
				</div>				
			</form>
		</div>
	</div>
	<hr />
</body>
</html>