<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"
	integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
	crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/freeboard.js"></script>
<link rel="stylesheet" href="/css/freeboard.css">
</head>
<body>
	<h1 id="titleH1">자유게시판</h1>
	<main>
		<div id="menuDiv">
			<select id="menu" onchange="changeBoard($('#menu').val());">
				<option value="free">자유게시판</option>
				<option value="meal">식단공유게시판</option>
				<option value="beforafter">비포에프터게시판</option>
			</select>
		</div>
		<div id="boardDiv">
			<table id="boardTable">
				<tr>
					<th>번호</th>
					<th>제목</th>
					<th>저자</th>
				</tr>
				<tr class="boardTr" th:each="board : ${listFreeBoard}">
					<td>[[${board.fbnum}]]</td>
					<td>[[${board.title}]]</td>
					<td>[[${board.author}]]</td>
					<td>[[${board.contents}]]</td>
				</tr>
			</table>
		</div>
	</main>
</body>
</html>