<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
body {
	width: 100wv;
	height: 100wh;
	padding: 0px;
	margin: 0px;
}
header {
	box-sizing: border-box;
	width: 100wh;
	height: 10vh;
	border: 1px solid black;
}
main {
	box-sizing: border-box;
	width: 100vw;
	height: 80vh;
	border: 1px solid black;
}
footer {
	box-sizing: border-box;
	width: 100vw;
	height: 10vh;
	border: 1px solid black;
}
table {
	width: 100vw;
}
</style>
</head>
<body>
	<header></header>
	<main>
		<table>
			<tr>
				<th>번호</th>
				<th>제목</th>
				<th>저자</th>
			</tr>
			<tr th:each="freeboard : ${freeboardList}">
				<td>[[${freeboard.fbnum}]]</td>
				<td>[[${freeboard.title}]]</td>
				<td>[[${freeboard.author}]]</td>
				<td>[[${freeboard.contents}]]</td>
			</tr>
		</table>
	</main>
	<footer>
	footer
	</footer>
</body>
</html>