<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>건강한 한끼 : 건끼</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600"
    />
    <link href="/img/1.png" rel="shortcut icon" type="image/x-icon">
    <!-- https://fonts.google.com/specimen/Open+Sans -->
    <link rel="stylesheet" href="/css/all.min.css" />
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="/css/tooplate-style.css" />
    <!-- maingage.css -->
    <link rel="stylesheet" href="/css/mainpage.css"/>
    <script type="text/javascript">
    	function recommendDiet() {
    		gender = $("input[name='gender']:checked").val();
    		current_weight = $("#current_weight").val();
    		goal_weight = $("#goal_weight").val();
    		if (gender != null) {
    			if (current_weight != "") {
    				if (goal_weight != "") {
		    			$.ajax({
		        			url:"/connect/chatGPT",
		        			method:"post",
		        			data:{
		        				"gender":gender,
		        				"current_weight":current_weight,
		        				"goal_weight":goal_weight
		        			},
		        			dataType:"json",
		        			cache:false,
		        			success:function(res){
		        				for (var i = 0; i < res.length; i++) {
		        					if (res[i] != "") {
			        					console.log(res[i]);
				        				$("#chatgpt_output").append($("<div>"+res[i] + "</div>"));
		        					}
		        				}
		        			},
		        			error:function(xhs,status,err){
		        				alert(err);
		        			}
		        		});
    				} else {
    					alert("목표 몸무게를 입력하세요!");
    					$("#goal_weight").focus();
    				}
	    		} else {
	    			alert("현재 몸무게를 입력하세요!");
	    			$("#current_weight").focus();
	    		}
    		} else {
    			alert("성별을 선택하세요!");
    		}
    	}
    	
    	function addFoodRating() {
    		$.ajax({
    			url:"/"
    		});
    	}
    </script>
  </head>

<body style="background-color:#F2EEE5;">
<div>
    <div th:replace="~{fragments/common :: header}"></div>
</div>
    <div>
    	<!-- 왼쪽 -->
	    <div style="width:70%; box-sizing:border-box; height: 2000px; float:left;">
	        <div style="float:left; width:20%; height: 2000px;"></div>
	        <div style="height:80px; padding-top: 25px; color:black;"> 
	        	<img src="/img/icon-smile.png" style="height:50%;object-fit:contain;float:left">
	        	<div style="float:left; margin-left:7px" th:if="${main != null}" th:text="${main.content}"></div>
	        </div>
				<!-- 전체 크기 -->
				<div style=" width:80%; float:right; height: 1200px;">
					<div class="main">
					    <div class="tab date" style="width:100%;">
					    	<div style="float:left;width:33.33%;">
					        	<a th:href="@{/health/main(day=${day.plusMonths(-1)})}" style="color:black;">이전</a>
					        </div> 
					        <div style="float:left;width:33.33%">
					        	<h3 th:text="${year+'년'}+ ${month+'월'}" style="color:black;"></h3>
					        </div>	
					        <div style="float:left;;width:33.33%">
					        	<a th:href="@{/health/main(day=${day.plusMonths(1)})}" style="color:black;">다음</a>
					        </div>
					    </div>
						<input type="radio" id="tab-1" name="show" checked/>
						<div class="tab">
						</div>
							<div class="wvi">
								<div class="whenview">
									<div class="when mo whenview" ></div> <br>
									<div class="whenview"> 아침</div>
								</div>
								<div class="whenview">
									<div class="when lu whenview" ></div> <br>
									<div class="whenview"> 점심</div>
								</div>
								<div class="whenview">
									<div class="when di whenview" ></div> <br>
									<div class="whenview"> 저녁</div>
								</div>
								<div class="whenview">
									<div class="when sn whenview" ></div> <br>
									<div class="whenview"> 간식</div>
								</div>
							</div>
						<div class="content" style="padding-left:7%;padding-top:30px; background-color:white; height:100%" 
								onclick="location.href='/calen/getCalendar'">
						    <div class="content-dis" id="list1">
							    <div class="gd-left gd-clear gd-title">일</div>
							    <div class="gd-left gd-title">월</div>
							    <div class="gd-left gd-title">화</div>
							    <div class="gd-left gd-title">수</div>
							    <div class="gd-left gd-title">목</div>
							    <div class="gd-left gd-title">금</div>
							    <div class="gd-left gd-title">토</div>
						    	<!-- 5월달 lastDay==31 -->
								<div th:style="${#strings.equals(today,(year+'-'+(month lt 10?'0'+month:month)+'-'+((i-(firstDayOfWeek-1)) lt 10?'0'+(i-(firstDayOfWeek-1)):(i-(firstDayOfWeek-1)))))} ? 'background: rgba(255, 100, 100, 0.4)':''"
							     	 th:each="i,index : ${#numbers.sequence(1, lastDay+(firstDayOfWeek-1))}" 
							         th:class="${index.index%7} ==0 ? 'gd-clear gd-left':  'gd-left'"
							         >
							         [[${(i-(firstDayOfWeek-1))>0?(i-(firstDayOfWeek-1)):''}]]	
							  		 <div th:each="list : ${list}"
									    	   th:if="${list.tdate == (i-(firstDayOfWeek-1)) && list.tmonth == month && session.userid!=null}">
								    	<div th:each="sch : ${list.sch}" class="qwe">
									    	<div th:if="${sch.when}=='아침'" class="when mo"></div>
								    		<div th:if="${sch.when}=='점심'" class="when lu"></div>
								    		<div th:if="${sch.when}=='저녁'" class="when di"></div>
								    		<div th:if="${sch.when}=='간식'" class="when sn"></div>
				    					</div>
								  	</div>
								  	<div th:if="${session.userid==null}">
								  		<div th:if="${(i-(firstDayOfWeek-1))==3}">
								  			<div class="qwe">
								  				<div class="when mo"></div>
								  			</div>
								  			<div class="qwe">
							    				<div class="when lu"></div>
							    			</div>
								  		</div>
								  		<div th:if="${(i-(firstDayOfWeek-1))==7}" class="qwe">
								  			<div class="qwe">
								  				<div class="when mo"></div>
								  			</div>
								  			<div class="qwe">
							    				<div class="when lu"></div>
							    			</div>
							    			<div class="qwe">
								  				<div class="when di"></div>
								  			</div>
								  			<div class="qwe">
							    				<div class="when sn"></div>
							    			</div>
								  		</div>
								  		<div th:if="${(i-(firstDayOfWeek-1))==10}" class="qwe">
								  			<div class="qwe">
								  				<div class="when mo"></div>
								  			</div>
								  			<div class="qwe">
							    				<div class="when lu"></div>
							    			</div>
							    			<div class="qwe">
								  				<div class="when di"></div>
								  			</div>
								  			<div class="qwe">
							    				<div class="when sn"></div>
							    			</div>
								  		</div>
								  		<div th:if="${(i-(firstDayOfWeek-1))==13}" class="qwe">
								  			<div class="qwe">
								  				<div class="when di"></div>
								  			</div>
								  			<div class="qwe">
							    				<div class="when sn"></div>
							    			</div>
								  		</div>
								  		<div th:if="${(i-(firstDayOfWeek-1))==14}" class="qwe">
								  			<div class="qwe">
								  				<div class="when mo"></div>
								  			</div>
								  			<div class="qwe">
							    				<div class="when lu"></div>
							    			</div>
							    			<div class="qwe">
								  				<div class="when di"></div>
								  			</div>
								  		</div>
								  		<div th:if="${(i-(firstDayOfWeek-1))==23}" class="qwe">
								  			<div class="qwe">
								  				<div class="when mo"></div>
								  			</div>
							    			<div class="qwe">
								  				<div class="when di"></div>
								  			</div>
								  		</div>
								  		<div th:if="${(i-(firstDayOfWeek-1))==27}" class="qwe">
								  			<div class="qwe">
								  				<div class="when lu"></div>
								  			</div>
							    			<div class="qwe">
								  				<div class="when di"></div>
								  			</div>
								  		</div>
								  	</div>
							  	</div>
							</div>	
						    <div class="content-dis" id="list1">
								<table class="cal_table">
									<thead>
										<tr>
											<td>일자</td>
											<td>요일</td>
											<td>식사</td>
											<td>사진</td>
											<td>내용</td>
										</tr>
									</thead>
									<tbody>
										<tr th:each="i,index : ${#numbers.sequence(1, lastDay+(firstDayOfWeek-1))}"
											th:if="${(i-(firstDayOfWeek-1))>0}">
											<td th:style="${#strings.equals(today,(year+'-'+(month lt 10?'0'+month:month)+'-'+(i-(firstDayOfWeek-1))))} ? 'background: skyblue'">
					        					[[${(i-(firstDayOfWeek-1))}]] 
					        				</td>
					        				<td th:switch=${index.index%7}>
						        				<span th:case="0">일</span> 
						        				<span th:case="1">월</span> 
						        				<span th:case="2">화</span> 
						        				<span th:case="3">수</span> 
						        				<span th:case="4">목</span> 
						        				<span th:case="5">금</span> 
						        				<span th:case="6">토</span>	
					        				</td>
					        				<td>
					        					<div th:each="list : ${list}">
										    		<div th:if="${list.tdate == (i-(firstDayOfWeek-1)) && list.tmonth == month}">
											    		 <div th:each="sch : ${list.sch}">
					        								<a th:href="@{'/calen/detail/'+${sch.s_pnum}}">
												    			<span>[[${sch.when}]]</span>
													   		</a>
												    	</div>
										    		</div>
									   			</div>
								    		</td>
								    		<td>
						        				<div th:each="list : ${list}">
										    		<div th:if="${list.tdate == (i-(firstDayOfWeek-1)) && list.tmonth == month}">
											    		 <div th:each="sch : ${list.sch}">
												    		<div th:each="att : ${sch.attlist}">
												    			<img th:src="@{/images/calendar/}+${att.pname}" width="84" height="84">
												    			
												    		</div>
												    	</div>
										    		</div>
									   			</div>
								    		</td>
								    		<td>
						        				<div th:each="list : ${list}">
										    		<div th:if="${list.tdate == (i-(firstDayOfWeek-1)) && list.tmonth == month}">
											    		 <div th:each="sch : ${list.sch}">
												    		<span>[[${sch.content}]]</span>
												    	</div>
										    		</div>
									   			</div>
								    		</td>
										</tr>
									</tbody>
								</table>
							</div>
					    </div>
					</div>
				</div>
			</div>
	    
	    <!-- 오른쪽 -->
	    <div style="width:3%; box-sizing:border-box; height: 2000px; float:left;"></div>
	    <div style="width:20%; box-sizing:border-box; height: 2000px; float:left;">
	    	<div style="height:60px; padding-top: 18px;"></div>
	    	
	    	<!-- 오늘의 베스트 -->
	    	<div id="freeboard_todayBest" style=" width:90%; height: 200px; background:#BDB9B1; overflow: hidden;">
        		<script src="/js/mainPage/freeboard.js"></script>
        		<div style="float:left; widht:80px; width: 85%; height: 100%">
	        		<div style="color:white; padding-left:20px; padding-top:20px; text-align:left; height:20%;">오늘의 베스트</div>
        			<div style="color:white; padding:20px; height: 80%; text-align:left; ">
        				<div style="width: 100%; height: 100%; overflow: hidden;">
		        			<ul id="freeboard_todayBest_ul" style="display: inline; font-size: 17px; line-height: 20px;">
		        				<th:block th:if="${listFreeboard!=null}" th:each="freeboard, i : ${listFreeboard}">
				        			<li th:class="'freeboard_'+${i.index / 6}"><a th:href="@{/freeboard/detail(fbnum=${freeboard.fbnum})}" style="color:white;">[[${freeboard.title}]]</a></li>
		        				</th:block>
			        		</ul>
        				</div>
        			</div>
       			</div>
       			<div style="float:right; width:15%; height: 200px;">
      				<div style="float:top;height:33.33%; text-align: center; padding-top:17px; border: 0.3px solid white;">
      					<a href="#"><img style="width:70%; height:70%; object-fit:cover; cursor:pointer;" alt="glass" src="/img/icon-glass.png"></a>     					
      				</div>
      				<input id="freeboard_currentPage" type="hidden" value="0">
      				<div style="float:top;height:33.33%; text-align: center; padding-top:13px; border: 0.3px solid white;">
      					<a onclick="freeboard_todayBest_previousBtn()"><img style="width:80%; height:80%; object-fit:cover; cursor:pointer;" alt="upicon" src="/img/icon-up.png"></a> 
      				</div>
      				<div style="float:top;height:33.33%; text-align: center; padding-top:13px; border: 0.3px solid white;">
      					<a onclick="freeboard_todayBest_nextBtn()"><img style="width:70%; height:70%; object-fit:cover; cursor:pointer;" alt="glass" src="/img/icon-down.png"></a> 
      				</div>
       			</div>
        	</div>
        	
	    	<!-- 공지사항 -->
        	<div style="padding-top:20px">
	        	<div style=" width:90%; height: 200px; background:#FFB59F;">
					<div style="float:left; width: 85%;">
		        	<a href="/health/board?name=notice">
		        		<div style="color:white; padding-left:20px; padding-top:20px; text-align:left; height:20%;">공지사항</div>
						<div style="color:white; padding:20px; height: 80%; text-align:left;">
						<ul  th:each="notice: ${pageAdminBoard}" style="display: inline;">
	                         	<li> 
	                         		<a th:href= "|/health/detail_notice/${notice.adnum}|" style=" color:white;">[[${notice.title}]]</a>
	                         	</li>
	                         </ul> 
	        			</div>
	        		</a>
	        		
	       			</div>
	       			<div style="float:right; width:15%; height: 200px;">
	       				<div style="float:top;height:33.33%; text-align: center; padding-top:17px; border: 0.3px solid white;" >
	       					<a href="#"><img style="width:70%; height:70%; object-fit:cover; cursor:pointer;" alt="glass" src="/img/icon-glass.png" ></a>     					
	       				</div>
	       				<div style="float:top;height:33.33%; text-align: center; padding-top:13px; border: 0.3px solid white;">
	       					<a href="|/health/notice/n+1/3"><img style="width:80%; height:80%; object-fit:cover; cursor:pointer;" alt="upicon" src="/img/icon-up.png"></a> 
	       				</div>
	       				<div style="float:top;height:33.33%; text-align: center; padding-top:13px; border: 0.3px solid white;">
	       					<a href="#"><img style="width:70%; height:70%; object-fit:cover; cursor:pointer;" alt="glass" src="/img/icon-down.png"></a> 
	       				</div>
	       			</div>
				</div>
			</div>
			<div id="chatgpt_div" style="padding-top: 20px;">
				<div class="form">
					<div class="meal">오늘의 추천식단을 확인해보세요!</div>
					<div class="switch-field" id="gender">
						<input type="radio" id="male" name="gender" value="남자"> 
						<label for="male">남</label> 
						<input type="radio" id="female" name="gender" value="여자"> <label for="female">여</label>
					</div>

					<div class="meal_bottom">
						<div>
							<input id="current_weight" type="text" placeholder="현재 몸무게">
						</div>
						<div style="padding-top: 5px;">
							<input id="goal_weight" type="text" placeholder="목표 몸무게">
						</div>
						<div style="padding-top: 5px;">
							<button onclick="recommendDiet();">추천받기</button>
						</div>
						<div id="chatgpt_output"></div>
					</div>
				</div>
			</div>
		</div>
	
    
    
    <script src="/js/jquery-1.9.1.min.js"></script>
    <!-- Single Page Nav plugin works with this version of jQuery -->
    <script src="/js/jquery.singlePageNav.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script>
      // Parallax function
      // https://codepen.io/roborich/pen/wpAsm
      var background_image_parallax = function($object, multiplier) {
        multiplier = typeof multiplier !== "undefined" ? multiplier : 0.5;
        multiplier = 1 - multiplier;
        var $doc = $(document);
        $object.css({ "background-attatchment": "fixed" });
        $(window).scroll(function() {
          var from_top = $doc.scrollTop(),
            bg_css = "center " + multiplier * from_top + "px";
          $object.css({ "background-position": bg_css });
        });
      };

      $(window).scroll(function() {
        if ($(this).scrollTop() > 50) {
          $(".scrolltop:hidden")
            .stop(true, true)
            .fadeIn();
        } else {
          $(".scrolltop")
            .stop(true, true)
            .fadeOut();
        }

        // Make sticky header
        if ($(this).scrollTop() > 158) {
          $(".tm-nav-section").addClass("sticky");
        } else {
          $(".tm-nav-section").removeClass("sticky");
        }
      });

      let videoSec;

      $(function() {
    	 if (detectIE()) {
              alert(
                "Please use the latest version of Edge, Chrome, or Firefox for best browsing experience."
              );
            }
        const mainNav = $("#tmMainNav");
        mainNav.singlePageNav({
          filter: ":not(.external)",
          offset: $(".tm-nav-section").outerHeight(),
          updateHash: true,
          beforeStart: function() {
            mainNav.removeClass("show");
          }
        });

        videoSec = $("#tmVideoSection");

        // Back to top
        $(".scroll").click(function() {
          $("html,body").animate(
            { scrollTop: $("#home").offset().top },
            "1000"
          );
          return false;
        });
      });
      
      function clickDay(t) {
    		let year = [[${year}]];
    		let mon = [[${month}]];
    		
    		let day = $(t).text();
    		var obj = {};
    		obj.date = year + '-' + mon + '-' + day;

    		window.location.href = "/calen/showCalen?day="+obj.date;

    	}
    </script>
</body>
</html>
