<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>건강한 한끼 : 건끼</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600"
    />
    <!-- https://fonts.google.com/specimen/Open+Sans -->
    <link rel="stylesheet" href="/css/all.min.css" />
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="/css/tooplate-style.css" />
    <!-- maingage.css -->
    <link rel="stylesheet" href="/css/mainpage.css"/>
  </head>

<body style="background-color:#F2EEE5;">
<div>
    <div th:replace="fragments/common :: header"></div>
</div>
    <div>
    	<!-- 왼쪽 -->
	    <div style="width:67%; box-sizing:border-box; height: 2000px; float:left;">
	        <div style="float:left; width:10%; height: 2000px;"></div>
	        <div style="height:80px; padding-top: 25px; color:black;"> 
	        	<img src="/img/icon-smile.png" style="height:50%;object-fit:contain;">
	        	 남들은 쉽게 빼는데 나는 왜 안되지라는 생각마라 그들도 죽을만큼 노력했다.
	        </div>
        	<div style="float:left; width:44%; height: 200px; background:#BDB9B1; ">
        		<div style="float:left; widht:80px;">
	        		<div style="padding-left: 20px; padding-top: 20px; color:white;">오늘의 베스트</div>
        			<div style="padding-top: 20px; padding-left: 20px; color:white;">
	        			<ul style="display: inline;">
	        				<th:block th:if="${listFreeboard!=null}" th:each="freeboard : ${listFreeboard}">
			        			<li><a th:href="@{/freeboard/detail(fbnum=${freeboard.fbnum})}" style=" color:white;">[[${freeboard.title}]]</a></li>
	        				</th:block>
		        		</ul>
        			</div>
       			</div>
        			<div style="float:right; width:15%; height: 200px;">
       				<div style="float:top;height:33.33%; text-align: center; padding-top:17px; border: 0.3px solid white;">
       					<a href="#"><img style="width:70%; height:70%; object-fit:cover; cursor:pointer;" alt="glass" src="/img/icon-glass.png"></a>     					
       				</div>
       				<div style="float:top;height:33.33%; text-align: center; padding-top:13px; border: 0.3px solid white;">
       					<a href="#"><img style="width:80%; height:80%; object-fit:cover; cursor:pointer;" alt="upicon" src="/img/icon-up.png"></a> 
       				</div>
       				<div style="float:top;height:33.33%; text-align: center; padding-top:13px; border: 0.3px solid white;">
       					<a href="#"><img style="width:70%; height:70%; object-fit:cover; cursor:pointer;" alt="glass" src="/img/icon-down.png"></a> 
       				</div>
        			</div>
	        	</div>
	        	<div style="float:right; width:44%; height: 200px; background:#FFB59F;">
					<div style="float:left; widht:80px;">
		        		<div style="padding-left: 20px; padding-top: 20px; color:white;">명예의 전당</div>
	        			<div style="padding-top: 20px; padding-left: 20px; color:white;">
	        				<ul style="display: inline;">
			        			<li><a href="" style=" color:white;">다이어트 2달 표시날까요?</a></li>
			        			<li><a href="" style=" color:white;">92에서 62까지 -30kg 여정</a></li>
			        			<li><a href="" style=" color:white;">49세 다이어트 1탄</a></li>
			        			<li><a href="" style=" color:white;">살에 묻혀있던 눈코입 살리자</a></li>
			        		</ul>
	        			</div>
        			</div>
        			<div style="float:right; width:15%; height: 200px;">
        				<div style="float:top;height:33.33%; text-align: center; padding-top:17px; border: 0.3px solid white; ">
        					<a href="#"><img style="width:70%; height:70%; object-fit:cover; cursor:pointer;" alt="glass" src="/img/icon-glass.png"></a>     					
        				</div>
        				<div style="float:top;height:33.33%; text-align: center; padding-top:13px; border: 0.3px solid white;">
        					<a href="#"><img style="width:80%; height:80%; object-fit:cover; cursor:pointer;" alt="upicon" src="/img/icon-up.png"></a> 
        				</div>
        				<div style="float:top;height:33.33%; text-align: center; padding-top:13px; border: 0.3px solid white;">
        					<a href="#"><img style="width:70%; height:70%; object-fit:cover; cursor:pointer;" alt="glass" src="/img/icon-down.png"></a> 
        				</div>
        			</div>
				</div>
				<div style="width:100%; height: 250px;"></div>
				
				
				<!-- 전체 크기 -->
				<div style=" width:90%; float:right; height: 1200px;">
					<div class="main">
						<input type="radio" id="tab-1" name="show" checked/>
						<input type="radio" id="tab-2" name="show" />
						<input type="radio" id="tab-3" name="show" />
						<input type="radio" id="tab-4" name="show" />
						<div class="tab">
							<label for="tab-1">Concept</label>
							<label for="tab-2">Color</label>
							<label for="tab-3">Textile</label>
							<label for="tab-4">Design</label>
						</div>
						<div class="content">
						    <div class="content-dis" id="list1">
							    <ul style="display:flex;min-height:100%; width:100%; float:top;">
				        			<li>
  										<a href="#" style="color:black;">
					        				<div class="image-boxl">
					        					<img class="image-thumbnail" src="/img/img-00.jpg">
					        				</div>
					        				<div class="txtl">
					        					<p class="text">이것을 끄집어내고, 인정하면 다이어트가 쉬워진다?
					        				</div>
				        				</a>
				        			</li>
				        			<li>
				        				<a href="#" style="color:black;">
					        				<div class="image-boxc">
					        					<img class="image-thumbnail" src="/img/img-01.jpg">
					        				</div>
					        				<div class="txtc">
					        					<p class="text">이것을 끄집어내고, 인정하면 다이어트가 쉬워진다?
					        				</div>
					        			</a>
				        			</li>
				        			<li>
				        				<a href="#" style="color:black;">
					        				<div class="image-boxr">
					        					<img class="image-thumbnail" src="/img/img-02.jpg">
					        				</div>
					        				<div class="txtr">
					        					<p class="text">이것을 끄집어내고, 인정하면 다이어트가 쉬워진다?
					        				</div>
					        				
				        			</li>
			        			</ul>	
			        			<ul style="display:flex;min-height:100%; width:100%; float:top;">
				        			<li>
				        				<a href="#" style="color:black;">
					        				<div class="image-boxl">
					        					<img class="image-thumbnail" src="/img/img-03.jpg">
					        				</div>
					        				<div class="txtl">
					        					<p class="text">이것을 끄집어내고, 인정하면 다이어트가 쉬워진다?
					        				</div>
					        			</a>	
				        			</li>
				        			<li>
				        				<a href="#" style="color:black;">
					        				<div class="image-boxc">
					        					<img class="image-thumbnail" src="/img/img-04.jpg">
					        				</div>
					        				<div class="txtc">
					        					<p class="text">이것을 끄집어내고, 인정하면 다이어트가 쉬워진다?
					        				</div>
					        			</a>	
				        			</li>
				        			<li>
				        				<a href="#" style="color:black;">
					        				<div class="image-boxr">
					        					<img class="image-thumbnail" src="/img/img-05.jpg">
					        				</div>
					        				<div class="txtr">
					        					<p class="text">이것을 끄집어내고, 인정하면 다이어트가 쉬워진다?
					        				</div>
					        			</a>	
				        			</li>
			        			</ul>	
			        			<ul style="display:flex;min-height:100%; width:100%; float:top;">
				        			<li>
				        				<a href="#" style="color:black;">
					        				<div class="image-boxl">
					        					<img class="image-thumbnail" src="/img/img-06.jpg">
					        				</div>
					        				<div class="txtl">
					        					<p class="text">이것을 끄집어내고, 인정하면 다이어트가 쉬워진다?
					        				</div>
					        			</a>	
				        			</li>
				        			<li>
				        				<a href="#" style="color:black;">
					        				<div class="image-boxc">
					        					<img class="image-thumbnail" src="/img/img-activities.jpg">
					        				</div>
					        				<div class="txtc">
					        					<p class="text">이것을 끄집어내고, 인정하면 다이어트가 쉬워진다?
					        				</div>
					        			</a>	
				        			</li>
				        			<li>
				        				<a href="#" style="color:black;">
					        				<div class="image-boxr">
					        					<img class="image-thumbnail" src="/img/img-00.jpg">
					        				</div>
					        				<div class="txtr">
					        					<p class="text">이것을 끄집어내고, 인정하면 다이어트가 쉬워진다?
					        				</div>
					        			</a>	
				        			</li>
			        			</ul>	
						    </div>
						    <div class="content-dis" id="list1">
							    <ul style="display:flex;min-height:100%; width:100%; float:top;">
				        			<li>
  										<a href="#" style="color:black;">
					        				<div class="image-boxl">
					        					<img class="image-thumbnail" src="/img/img-01.jpg">
					        				</div>
					        				<div class="txtl">
					        					<p class="text">이것을 끄집어내고, 인정하면 다이어트가 쉬워진다?
					        				</div>
				        				</a>
				        			</li>
				        			<li>
				        				<a href="#" style="color:black;">
					        				<div class="image-boxc">
					        					<img class="image-thumbnail" src="/img/img-02.jpg">
					        				</div>
					        				<div class="txtc">
					        					<p class="text">이것을 끄집어내고, 인정하면 다이어트가 쉬워진다?
					        				</div>
					        			</a>
				        			</li>
				        			<li>
				        				<a href="#" style="color:black;">
					        				<div class="image-boxr">
					        					<img class="image-thumbnail" src="/img/img-03.jpg">
					        				</div>
					        				<div class="txtr">
					        					<p class="text">이것을 끄집어내고, 인정하면 다이어트가 쉬워진다?
					        				</div>
					        				
				        			</li>
			        			</ul>	
			        			<ul style="display:flex;min-height:100%; width:100%; float:top;">
				        			<li>
				        				<a href="#" style="color:black;">
					        				<div class="image-boxl">
					        					<img class="image-thumbnail" src="/img/img-04.jpg">
					        				</div>
					        				<div class="txtl">
					        					<p class="text">이것을 끄집어내고, 인정하면 다이어트가 쉬워진다?
					        				</div>
					        			</a>	
				        			</li>
				        			<li>
				        				<a href="#" style="color:black;">
					        				<div class="image-boxc">
					        					<img class="image-thumbnail" src="/img/img-05.jpg">
					        				</div>
					        				<div class="txtc">
					        					<p class="text">이것을 끄집어내고, 인정하면 다이어트가 쉬워진다?
					        				</div>
					        			</a>	
				        			</li>
				        			<li>
				        				<a href="#" style="color:black;">
					        				<div class="image-boxr">
					        					<img class="image-thumbnail" src="/img/img-06.jpg">
					        				</div>
					        				<div class="txtr">
					        					<p class="text">이것을 끄집어내고, 인정하면 다이어트가 쉬워진다?
					        				</div>
					        			</a>	
				        			</li>
			        			</ul>	
			        			<ul style="display:flex;min-height:100%; width:100%; float:top;">
				        			<li>
				        				<a href="#" style="color:black;">
					        				<div class="image-boxl">
					        					<img class="image-thumbnail" src="/img/img-activities.jpg">
					        				</div>
					        				<div class="txtl">
					        					<p class="text">이것을 끄집어내고, 인정하면 다이어트가 쉬워진다?
					        				</div>
					        			</a>	
				        			</li>
				        			<li>
				        				<a href="#" style="color:black;">
					        				<div class="image-boxc">
					        					<img class="image-thumbnail" src="/img/img-00.jpg">
					        				</div>
					        				<div class="txtc">
					        					<p class="text">이것을 끄집어내고, 인정하면 다이어트가 쉬워진다?
					        				</div>
					        			</a>	
				        			</li>
				        			<li>
				        				<a href="#" style="color:black;">
					        				<div class="image-boxr">
					        					<img class="image-thumbnail" src="/img/img-01.jpg">
					        				</div>
					        				<div class="txtr">
					        					<p class="text">이것을 끄집어내고, 인정하면 다이어트가 쉬워진다?
					        				</div>
					        			</a>	
				        			</li>
			        			</ul>	
						    </div>
						    <div class="content-dis" id="list1">
							    <ul style="display:flex;min-height:100%; width:100%; float:top;">
				        			<li>
  										<a href="#" style="color:black;">
					        				<div class="image-boxl">
					        					<img class="image-thumbnail" src="/img/img-02.jpg">
					        				</div>
					        				<div class="txtl">
					        					<p class="text">이것을 끄집어내고, 인정하면 다이어트가 쉬워진다?
					        				</div>
				        				</a>
				        			</li>
				        			<li>
				        				<a href="#" style="color:black;">
					        				<div class="image-boxc">
					        					<img class="image-thumbnail" src="/img/img-03.jpg">
					        				</div>
					        				<div class="txtc">
					        					<p class="text">이것을 끄집어내고, 인정하면 다이어트가 쉬워진다?
					        				</div>
					        			</a>
				        			</li>
				        			<li>
				        				<a href="#" style="color:black;">
					        				<div class="image-boxr">
					        					<img class="image-thumbnail" src="/img/img-04.jpg">
					        				</div>
					        				<div class="txtr">
					        					<p class="text">이것을 끄집어내고, 인정하면 다이어트가 쉬워진다?
					        				</div>
					        				
				        			</li>
			        			</ul>	
			        			<ul style="display:flex;min-height:100%; width:100%; float:top;">
				        			<li>
				        				<a href="#" style="color:black;">
					        				<div class="image-boxl">
					        					<img class="image-thumbnail" src="/img/img-05.jpg">
					        				</div>
					        				<div class="txtl">
					        					<p class="text">이것을 끄집어내고, 인정하면 다이어트가 쉬워진다?
					        				</div>
					        			</a>	
				        			</li>
				        			<li>
				        				<a href="#" style="color:black;">
					        				<div class="image-boxc">
					        					<img class="image-thumbnail" src="/img/img-06.jpg">
					        				</div>
					        				<div class="txtc">
					        					<p class="text">이것을 끄집어내고, 인정하면 다이어트가 쉬워진다?
					        				</div>
					        			</a>	
				        			</li>
				        			<li>
				        				<a href="#" style="color:black;">
					        				<div class="image-boxr">
					        					<img class="image-thumbnail" src="/img/img-activities.jpg">
					        				</div>
					        				<div class="txtr">
					        					<p class="text">이것을 끄집어내고, 인정하면 다이어트가 쉬워진다?
					        				</div>
					        			</a>	
				        			</li>
			        			</ul>	
			        			<ul style="display:flex;min-height:100%; width:100%; float:top;">
				        			<li>
				        				<a href="#" style="color:black;">
					        				<div class="image-boxl">
					        					<img class="image-thumbnail" src="/img/img-00.jpg">
					        				</div>
					        				<div class="txtl">
					        					<p class="text">이것을 끄집어내고, 인정하면 다이어트가 쉬워진다?
					        				</div>
					        			</a>	
				        			</li>
				        			<li>
				        				<a href="#" style="color:black;">
					        				<div class="image-boxc">
					        					<img class="image-thumbnail" src="/img/img-01.jpg">
					        				</div>
					        				<div class="txtc">
					        					<p class="text">이것을 끄집어내고, 인정하면 다이어트가 쉬워진다?
					        				</div>
					        			</a>	
				        			</li>
				        			<li>
				        				<a href="#" style="color:black;">
					        				<div class="image-boxr">
					        					<img class="image-thumbnail" src="/img/img-02.jpg">
					        				</div>
					        				<div class="txtr">
					        					<p class="text">이것을 끄집어내고, 인정하면 다이어트가 쉬워진다?
					        				</div>
					        			</a>	
				        			</li>
			        			</ul>	
						    </div>
						    <div class="content-dis" id="list1">
							    <ul style="display:flex;min-height:100%; width:100%; float:top;">
				        			<li>
  										<a href="#" style="color:black;">
					        				<div class="image-boxl">
					        					<img class="image-thumbnail" src="/img/img-00.jpg">
					        				</div>
					        				<div class="txtl">
					        					<p class="text">이것을 끄집어내고, 인정하면 다이어트가 쉬워진다?
					        				</div>
				        				</a>
				        			</li>
				        			<li>
				        				<a href="#" style="color:black;">
					        				<div class="image-boxc">
					        					<img class="image-thumbnail" src="/img/img-01.jpg">
					        				</div>
					        				<div class="txtc">
					        					<p class="text">이것을 끄집어내고, 인정하면 다이어트가 쉬워진다?
					        				</div>
					        			</a>
				        			</li>
				        			<li>
				        				<a href="#" style="color:black;">
					        				<div class="image-boxr">
					        					<img class="image-thumbnail" src="/img/img-02.jpg">
					        				</div>
					        				<div class="txtr">
					        					<p class="text">이것을 끄집어내고, 인정하면 다이어트가 쉬워진다?
					        				</div>
					        				
				        			</li>
			        			</ul>	
			        			<ul style="display:flex;min-height:100%; width:100%; float:top;">
				        			<li>
				        				<a href="#" style="color:black;">
					        				<div class="image-boxl">
					        					<img class="image-thumbnail" src="/img/img-03.jpg">
					        				</div>
					        				<div class="txtl">
					        					<p class="text">이것을 끄집어내고, 인정하면 다이어트가 쉬워진다?
					        				</div>
					        			</a>	
				        			</li>
				        			<li>
				        				<a href="#" style="color:black;">
					        				<div class="image-boxc">
					        					<img class="image-thumbnail" src="/img/img-04.jpg">
					        				</div>
					        				<div class="txtc">
					        					<p class="text">이것을 끄집어내고, 인정하면 다이어트가 쉬워진다?
					        				</div>
					        			</a>	
				        			</li>
				        			<li>
				        				<a href="#" style="color:black;">
					        				<div class="image-boxr">
					        					<img class="image-thumbnail" src="/img/img-05.jpg">
					        				</div>
					        				<div class="txtr">
					        					<p class="text">이것을 끄집어내고, 인정하면 다이어트가 쉬워진다?
					        				</div>
					        			</a>	
				        			</li>
			        			</ul>	
			        			<ul style="display:flex;min-height:100%; width:100%; float:top;">
				        			<li>
				        				<a href="#" style="color:black;">
					        				<div class="image-boxl">
					        					<img class="image-thumbnail" src="/img/img-06.jpg">
					        				</div>
					        				<div class="txtl">
					        					<p class="text">이것을 끄집어내고, 인정하면 다이어트가 쉬워진다?
					        				</div>
					        			</a>	
				        			</li>
				        			<li>
				        				<a href="#" style="color:black;">
					        				<div class="image-boxc">
					        					<img class="image-thumbnail" src="/img/img-activities.jpg">
					        				</div>
					        				<div class="txtc">
					        					<p class="text">이것을 끄집어내고, 인정하면 다이어트가 쉬워진다?
					        				</div>
					        			</a>	
				        			</li>
				        			<li>
				        				<a href="#" style="color:black;">
					        				<div class="image-boxr">
					        					<img class="image-thumbnail" src="/img/img-00.jpg">
					        				</div>
					        				<div class="txtr">
					        					<p class="text">이것을 끄집어내고, 인정하면 다이어트가 쉬워진다?
					        				</div>
					        			</a>	
				        			</li>
			        			</ul>	
						    </div>
					    </div>
					</div>
				</div>
			</div>
	    
	    <!-- 오른쪽 -->
	    <div style="width:3%; box-sizing:border-box; height: 2000px; float:left;"></div>
	    <div style="width:30%; box-sizing:border-box; height: 2000px; float:left;">
	    	<div style="height:60px; padding-top: 18px;"></div>
	    	<div style="float:left; width:80%; height: 2000px;">
	    		<div style="width:100%; height:150px;">
	    			<div style="width:50%; float:left; cursor:pointer; height:160px; background-color:#CBCFB1; border: 0.5px solid white;">
		        		<a href="/health/bmi">
		        			<img src="/img/icon-bmi.png" style="cursor:pointer;width:90%; padding:30px 15px 30px 30px; object-fit: scale-down;">	
		        		</a>
		        	</div>	
        			<div style="width:50%; float:left; cursor:pointer; height:160px; background-color:#A0DED3; border: 0.5px solid white;">
		        		<a href="/calen/getCalendar">
		        			<img src="/img/icon-calendar.png" style="cursor:pointer;width:90%; padding:30px 15px 30px 30px; object-fit: scale-down;">	
		        		</a>
		        	</div>	
	        	</div>
	        	<div style="width:100%; height:150px;">
	        		<div style="width:50%; float:left; cursor:pointer; height:160px; background-color:#A0DED3; border: 0.5px solid white;">
		        		<a href="/health/mappage">
		        			<img src="/img/icon-find.png" style="cursor:pointer;width:90%; padding:30px 17px 30px 32px; object-fit: scale-down;">	
		        		</a>
		        	</div>	
	        		<div style="width:50%; float:left; cursor:pointer; height:160px; background-color:#CBCFB1; border: 0.5px solid white;">
		        		<a href="#">
		        			<img src="/img/icon-trophy.png" style="cursor:pointer;width:89%; padding:30px 17px 30px 32px; object-fit: scale-down;">	
		        		</a>
		        	</div>	
	        	</div>	
	        </div>
	    </div>
	</div>
	
    
    
    <script src="/js/jquery-1.9.1.min.js"></script>
    <!-- Single Page Nav plugin works with this version of jQuery -->
    <script src="/js/jquery.singlePageNav.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script>
      // Parallax function
      // https://codepen.io/roborich/pen/wpAsm
      var background_image_parallax = function($object, multiplier) {
        multiplier = typeof multiplier !== "undefined" ? multiplier : 0.5;
        multiplier = 1 - multiplier;
        var $doc = $(document);
        $object.css({ "background-attatchment": "fixed" });
        $(window).scroll(function() {
          var from_top = $doc.scrollTop(),
            bg_css = "center " + multiplier * from_top + "px";
          $object.css({ "background-position": bg_css });
        });
      };

      $(window).scroll(function() {
        if ($(this).scrollTop() > 50) {
          $(".scrolltop:hidden")
            .stop(true, true)
            .fadeIn();
        } else {
          $(".scrolltop")
            .stop(true, true)
            .fadeOut();
        }

        // Make sticky header
        if ($(this).scrollTop() > 158) {
          $(".tm-nav-section").addClass("sticky");
        } else {
          $(".tm-nav-section").removeClass("sticky");
        }
      });

      let videoSec;

      $(function() {
    	 if (detectIE()) {
              alert(
                "Please use the latest version of Edge, Chrome, or Firefox for best browsing experience."
              );
            }
        const mainNav = $("#tmMainNav");
        mainNav.singlePageNav({
          filter: ":not(.external)",
          offset: $(".tm-nav-section").outerHeight(),
          updateHash: true,
          beforeStart: function() {
            mainNav.removeClass("show");
          }
        });

        videoSec = $("#tmVideoSection");

        // Back to top
        $(".scroll").click(function() {
          $("html,body").animate(
            { scrollTop: $("#home").offset().top },
            "1000"
          );
          return false;
        });
      });
    </script>
</body>
</html>
