<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="/img/1.png" rel="shortcut icon" type="image/x-icon">
<title>식단: 건강한 한끼</title>
<link rel="stylesheet" type="text/css" href="/css/Calendar/Calendar.css">
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script type="text/javascript">
function clickDay(t) {
	let year = [[${year}]];
	let mon = [[${month}]];
	
	let day = $(t).text();
	var obj = {};
	obj.date = year + '-' + mon + '-' + day;

	window.location.href = "/calen/showCalen?day="+obj.date;
}
</script>

</head>
<body>
<div>
    <div th:replace="fragments/common :: header"></div>
</div>
<!-- 전체 크기 -->
<div style=" width:80%; margin: 0 auto; height: 1200px;">
	<div class="main">
	    <div class="tab date" style="width:100%;">
	   		<div style="float:left;width:20%;">
	      	 	<a th:href="@{/calen/getCalendar(day=${day.plusMonths(-1)})}" style="color:black;">이전</a> 
	        </div>
	        <div style="float:left;width:50%">
				<h3 th:text="${year+'년'}+ ${month+'월'}" style="color:black;"></h3>
			</div>	
	        <div style="float:left;width:25%">
	      	 	<a th:href="@{/calen/getCalendar(day=${day.plusMonths(1)})}" style="color:black;">다음</a>
	      	 </div>
	    </div>
		<input type="radio" id="tab-1" name="show" checked="checked"/>
		<input type="radio" id="tab-2" name="show" />
		<div class="tab">
			<label for="tab-1">월간</label>
			<label for="tab-2">목록</label>
		</div>
		<div class="wvi">
			<div class="whenview">
				<div class="when mo whenview" ></div> <br>
				<div class="whenview"> 아침</div>
			</div>
			<div class="whenview">
				<div class="when lu whenview" ></div> <br>
				<div class="whenview"> 점심</div>
			</div>
			<div class="whenview">
				<div class="when di whenview" ></div> <br>
				<div class="whenview"> 저녁</div>
			</div>
			<div class="whenview">
				<div class="when sn whenview" ></div> <br>
				<div class="whenview"> 간식</div>
			</div>
		</div>
		<div class="content" style="padding-top:30px;" >
			<div class="content-dis" id="list1">
			    <div class="gd-left gd-clear gd-title">일</div>
			    <div class="gd-left gd-title">월</div>
			    <div class="gd-left gd-title">화</div>
			    <div class="gd-left gd-title">수</div>
			    <div class="gd-left gd-title">목</div>
			    <div class="gd-left gd-title">금</div>
			    <div class="gd-left gd-title">토</div>
		    	<!-- 5월달 lastDay==31 -->
				<div th:style="${#strings.equals(today,(year+'-'+(month lt 10?'0'+month:month)+'-'+((i-(firstDayOfWeek-1)) lt 10?'0'+(i-(firstDayOfWeek-1)):(i-(firstDayOfWeek-1)))))} ? 'background: rgba(255, 100, 100, 0.4)':''"
			     	 th:each="i,index : ${#numbers.sequence(1, lastDay+(firstDayOfWeek-1))}" 
			         th:class="${index.index%7} ==0 ? 'gd-clear gd-left':  'gd-left'"
			         th:onclick="clickDay(this);"
			         >
			         [[${(i-(firstDayOfWeek-1))>0?(i-(firstDayOfWeek-1)):''}]]	
			  		 <div th:each="list : ${list}"
					    	   th:if="${list.tdate == (i-(firstDayOfWeek-1)) && list.tmonth == month}">
				    	<div th:each="sch : ${list.sch}" class="qwe">
					    	<a th:href="@{'/calen/detail/'+${sch.s_pnum}}">
				    			<div th:if="${sch.when}=='아침'" class="when mo"></div>
					    		<div th:if="${sch.when}=='점심'" class="when lu"></div>
					    		<div th:if="${sch.when}=='저녁'" class="when di"></div>
					    		<div th:if="${sch.when}=='간식'" class="when sn"></div>
				    		</a>
					    		
				    	</div>
				  	</div>
			  	</div>
			</div>
			<div class="content-dis" id="list1">
				<table>
					<thead>
						<tr>
							<td>일자</td>
							<td>요일</td>
							<td>식사</td>
							<td>사진</td>
							<td>내용</td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="i,index : ${#numbers.sequence(1, lastDay+(firstDayOfWeek-1))}"
							th:if="${(i-(firstDayOfWeek-1))>0}">
							<td th:style="${#strings.equals(today,(year+'-'+(month lt 10?'0'+month:month)+'-'+(i-(firstDayOfWeek-1))))} ? 'background:rgba(255, 100, 100, 0.4) '">
	        					[[${(i-(firstDayOfWeek-1))}]] 
	        				</td>
	        				<td th:switch=${index.index%7}>
		        				<span th:case="0">일</span> 
		        				<span th:case="1">월</span> 
		        				<span th:case="2">화</span> 
		        				<span th:case="3">수</span> 
		        				<span th:case="4">목</span> 
		        				<span th:case="5">금</span> 
		        				<span th:case="6">토</span>	
	        				</td>
	        				<td>
	        					<div th:each="list : ${list}">
						    		<div th:if="${list.tdate == (i-(firstDayOfWeek-1)) && list.tmonth == month}">
							    		 <div th:each="sch : ${list.sch}">
	        								<a th:href="@{'/calen/detail/'+${sch.s_pnum}}">
								    			<span>[[${sch.when}]]</span>
									   		</a>
								    	</div>
						    		</div>
					   			</div>
				    		</td>
				    		<td>
		        				<div th:each="list : ${list}">
						    		<div th:if="${list.tdate == (i-(firstDayOfWeek-1)) && list.tmonth == month}">
							    		 <div th:each="sch : ${list.sch}">
								    		<div th:each="att : ${sch.attlist}">
								    			<img th:src="@{/images/calendar/}+${att.pname}">
								    		</div>
								    	</div>
						    		</div>
					   			</div>
				    		</td>
				    		<td>
		        				<div th:each="list : ${list}">
						    		<div th:if="${list.tdate == (i-(firstDayOfWeek-1)) && list.tmonth == month}">
							    		 <div th:each="sch : ${list.sch}">
								    		<span>[[${sch.content}]]</span>
								    	</div>
						    		</div>
					   			</div>
				    		</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
</body>
</html>