<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
function deleteCal(num)
{
	if(!confirm('정말로 현재 게시글을 삭제하시겠어요?')) return;

	$.ajax
	({
		url : '/calen/delete',
		method : 'post',
		data : {"num":num},
		cache : false,
		dateType : 'json',
		success : function(res){
			alert(res.deleted? "삭제성공" : "삭제실패");
			if(res.deleted)	{
				location.href='/calen/getCalendar';
			}else {
				alert(res.msg);
				location.href= res.url;
			}
		},
		error:function(xhr,status,err){
		alert(err);
	}
	});
}

</script>
</head>
<body>
<div>
    <div th:replace="fragments/common :: header"></div>
</div>
<table>
	<thead>
		<tr>
			<td>날짜</td>
			<td>식사</td>
			<td>내용</td>
			<td>사진</td>
		</tr>
	</thead>
	<tbody>
		<tr th:each="list : ${mlist}">
			<td th:each="cal : ${list.cal}"
			 	th:text="${cal.datetime}">
				
			</td>
			<td th:each="sch : ${list.sch}"
				th:text="${sch.when}">
			
			</td>
			<td th:each="sch : ${list.sch}"
				th:text="${sch.content}">
				
			</td>
			<td th:each="sch : ${list.sch}">
			<div th:each="att : ${sch.attlist}">
				<img th:src="@{/images/calendar/}+${att.pname}" width="84" height="84">
			</div>
			</td>
		</tr>
	</tbody>
</table>
<div>
	<button type="button" th:onclick="javascript:deleteCal('${cal.num}')">삭제</button>
</div>
</body>
</html>