<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>식단: 건강한 한끼</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<script src="lib/jquery/2.2.3/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="/css/Calendar/CalendarDetail.css">
<script src="/js/Calendar/CalendarDetail.js"></script>
</head>
<body>
<div>
    <div th:replace="fragments/common :: header"></div>
</div>
<div class="container1" style="padding-top:40px;">
	<table class="form">
		<thead class="form">
			<tr>
				<td>날짜</td>
				<td>식사</td>
				<td>내용</td>
				<td>사진</td>
			</tr>
		</thead>
		<tbody class="form">
			<tr th:each="list : ${mlist}">
				<td th:each="cal : ${list.cal}"
				 	th:text="${cal.datetime}">
					
				</td>
				<td th:each="sch : ${list.sch}"
					th:text="${sch.when}">
				
				</td>
				<td th:each="sch : ${list.sch}"
					th:text="${sch.content}">
					
				</td>
				<td>
					<div th:each="sch : ${list.sch}">
						<div th:each="att : ${sch.attlist}">
							<img th:src="@{/images/calendar/}+${att.pname}" width="84" height="84" style="float:left;">		
							<input type="hidden"  th:value="${att.a_pnum}">
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<table class="form">
		<thead class="form">
			<tr>
				<td>기준중량(g)</td>
				<td>에너지(kcal)</td>
				<td>탄수화물(g)</td>
				<td>단백질(g)</td>
				<td>지방(g)</td>
				<td>당류(g)</td>
				<td>나트륨(mg)</td>
			</tr>
		</thead>
		<tbody class="form">
			<tr th:each="list : ${mlist}">
				<td th:each="cal : ${list.cal}"
				 	th:text="${cal.datetime}">
				</td>
				<td th:each="sch : ${list.sch}"
					th:text="${sch.when}">
				</td>
				<td th:each="sch : ${list.sch}"
					th:text="${sch.content}">
				</td>
				<td th:each="sch : ${list.sch}"
					th:text="${sch.content}">
				</td>
				<td th:each="sch : ${list.sch}"
					th:text="${sch.content}">
				</td>
				<td th:each="sch : ${list.sch}"
					th:text="${sch.content}">
				</td>
				<td th:each="sch : ${list.sch}"
					th:text="${sch.content}">
				</td>
			</tr>
		</tbody>
	</table>
	<div th:each="list : ${mlist}">
		<div th:each="sch : ${list.sch}" class="footBtwrap">
			<div style="padding-right:10px;"><button type="button" class="form-btn reset footBtwrap_l" th:onclick="|location.href='@{'/calen/edit/'+${sch.s_pnum}}'|">수정</button></div>
			<div style="padding-left:10px;"><button type="button" class="form-btn footBtwrap_r" th:onclick="|javascript:deleteCal('${sch.s_pnum}','${sch.s_num}')|">삭제</button></div>
		</div>
	</div>
</div>
</body>
</html>