<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div>
	<div>
		<label>오늘날짜</label>
	</div>
	<!-- 아침 -->
		<input type="radio" name="eat" id="morning" value="아침" checked>
		<label>아침</label>
	<div>
		<input type="file" name="files" multiple="multiple"> 
		<textarea id ="post" name="m_content" rows="10" cols="50" placeholder="내용을 입력하세요"></textarea>
	</div>
	
	<!-- 점심 -->
		<input type="radio" name="eat" id="lunch" value="점심">
		<label>점심</label>
	<div>
		<input type="file" name="files" multiple="multiple">
		<textarea id ="post" name="l_contents" rows="10" cols="50" placeholder="내용을 입력하세요"></textarea>
	</div>
	
	<!-- 저녁 -->
		<input type="radio" name="eat" id="diner" value="저녁">
		<label>저녁</label>
	<div>
		<input type="file" name="files" multiple="multiple">
		<textarea id ="post" name="d_contents" rows="10" cols="50" placeholder="내용을 입력하세요"></textarea>
	</div>
	
	<!-- 간식 -->
		<input type="radio" name="eat" id="snack" value="저녁">
		<label>간식</label>
	<div>
		<input type="file" name="files" multiple="multiple">
		<textarea id ="post" name="s_contents" rows="10" cols="50" placeholder="내용을 입력하세요"></textarea>
	</div>
	
</div>
</body>
</html>