<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
</head>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script type="text/javascript">
$(function(){
	$('#btnUpload').on('click', function(event) {
		event.preventDefault();
		    
		var form = $('#addForm')[0]
	    var data = new FormData(form);
		    
		$('#btnUpload').prop('disabled', true);
		
		console.log(data);
		for (var key of data.keys()) {
			  console.log("키"+key);
			}
			for (var value of data.values()) {
			  console.log("내용"+value);

			}
			
		$.ajax ({
			type : 'post',
		    enctype: 'multipart/form-data',
			url : '/calen/add',
		    data : data,
			dateType : 'json',
			processData: false,  
		    contentType: false,
			cache : false,
			success: function (data) {
		           $('#btnUpload').prop('disabled', false);
		           alert('저장되었습니다')
		           opener.parent.location.reload();
		           window.close();
		        },
		        error: function (e) {
		            $('#btnUpload').prop('disabled', false);
		            alert('저장실패');
			}
		});
	})	
})
/*
window.onload = function() {
    for (var image of event.target.files) {
        var reader = new FileReader();
        reader.onload = function(event) {
          var img = document.createElement("img");
          img.setAttribute("src", event.target.result);
          document.querySelector("div#preview").appendChild(img);
       
          img.addEventListener("click",function(){
        	document.querySelector("div#preview").removeChild(img);
       	 })
        }      
        reader.readAsDataURL(image);
	}
}  */

var fileCount = 0;// 파일 현재 필드 숫자 totalCount랑 비교값
var totalCount = 10;// 해당 숫자를 수정하여 전체 업로드 갯수를 정한다.
var fileNum = 0;// 파일 고유넘버
var content_files = [];

function fileCheck(input) {
	var files = event.target.files;
	console.log(files);

// 파일 배열 담기
	var filesArr = Array.prototype.slice.call(files);
	console.log(files,filesArr);
	filesArr.forEach(function (f) {
		console.log(f);
		var reader = new FileReader();
		reader.onload = function (e) {
			content_files.push(f);
			var $elem = '<div class="file_list" id="file' + fileNum + '"><span class="file_name">' + f.name + '</span>' +
					     '<button class="close" onclick="fileDelete(\'file' + fileNum + '\')">' + 'X' + '</button></div>';
			$('.bu.name').append($elem);
			fileNum ++;
		};
		reader.readAsDataURL(f);
	});
	
	console.log(content_files);
	//초기화 한다.
	$("#input_file").val("");
		
}
function fileDelete(fileNum){
    var no = fileNum.replace(/[^0-9]/g, "");
    content_files[no].is_delete = true;
	$('#' + fileNum).remove();
	fileCount--;
    console.log(content_files);
    console.log(fileCount);
    console.log(fileNum);
}

</script>
<body>
<form id="addForm" action="/calen/add" method="post" enctype="multipart/form-data">
	<div>
		<input type="date" id="datetime" name="datetime" th:value="${day}">	
	</div>
	<div id="checkWhen">
		<input type="radio" name="when" id="breakfast" value="아침" checked>아침
		<input type="radio" name="when" id="lunch" value="점심">점심
		<input type="radio" name="when" id="dinner" value="저녁">저녁
		<input type="radio" name="when" id="snack" value="간식">간식
	</div>	
	<textarea id ="m_content" name="content" rows="10" cols="50" placeholder="내용을 입력하세요"></textarea>
<div class="sd_input file">
	<input type="file" id="pname" name="files" multiple="multiple" onChange="fileCheck();"> 
	<div class="bu name"></div>
	
 <!-- 	<div id="showFiles"></div>
	<div id="preview"></div>	 -->
	</div>
	<button type="button" id="btnUpload">저장</button>
</form>
</body>
</html>