<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link href="/css/adminboard.css" rel="stylesheet">
<title>공지사항 </title>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script type="text/javascript">

function delAdminB()
{
	$.ajax({
		url:'/health/delAdminB',
		method:'post',
		data: {"adnum": [[${adnum}]]},
		dataType: 'json',
		cache: false,
		success: function(res){
			alert(res.deleted?"삭제 성공": "삭제 실패")
			if(res.deleted){
				location.href='/health/faq/1/10'
			}
		},
		error: function(xhr, status, err){
			alert("서버 문제로 삭제 실패 되었습니다.")
			log.info("error이유:"+err)
		}
		
	})
}



</script>
</head>
<body>
	<div th:replace="fragments/common :: header"></div>


	<div class= "top_wrap">
		<div style="width:90%;float:right;">
			<h1 style="padding-top:25px; text-align: left;">FAQ</h1> 
		</div>
	</div>
<div id= "container">
	<div class="tit">[[${faqb.title}]]</div>
	<div class="aut">[[${faqb.author}]]</div>
	<div class="hit">조회수[[${faqb.hit}]]</div>
	<div class="date1">등록일
		<span>[[${faqb.date_admin}]]</span>
	</div>
	<div class="cont">[[${faqb.content}]]</div>
  
   <div>첨부파일</div>
   <div th:if= "${faqb.attList.size()>0}"></div>
	   <div th:each="att: ${faqb.attList}"> 
	   		<img class="img_s" th:src="'/images/'+${att.attname}">
	   		<div> [[${att.attname}]]</div>
	   </div>
</div>
</body>
</html>