<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link href="/css/adminboard.css" rel="stylesheet">
<title>관리자 - 1:1 문의 상세보기 </title>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script type="text/javascript">

function deleteQueB()
{
   $.ajax({
      url:'/health/deleteQueB',
      method:'post',
      data: {"qnum": [[${qnum}]]},
      dataType: 'json',
      cache: false,
      success: function(res){
         //alert("삭제 되었습니다.")
         alert(res.deleted?"삭제 성공": "삭제 실패")
         if(res.deleted){
            location.href='/health/qaList'
         }
      },
      error: function(xhr, status, err){
         alert("서버 문제로 삭제 실패 되었습니다.")
         log.info("error이유:"+err)
      }
      
   })
}

function edit_btn(){
	location.href = "/health/edit_q/[[${oneb.qnum}]]"
}

</script>
</head>
<body>
<div th:replace="fragments/common :: header"></div>

	<div class= "top_wrap">
		<div style="width:90%;float:right;">
			<h1 style="padding-top:25px; text-align: left;">1:1 문의</h1> 
		</div>
	</div>
<div id= "container">	
   <div class="tit">[[${oneb.title}]]</div>
   <div class="aut">작성자 [[${userid}]]</div>
   <div class="hit">조회수
      <span>[[${oneb.hit}]]</span>
   </div>
   <div class="date1">등록일
      <span>[[${oneb.qdate}]]</span>
   </div>
   <div class="cont">[[${oneb.content}]]</div>
   
   <div>첨부파일</div>
   <div th:if= "${oneb.attList.size()>0}"></div>
		<div th:each="att: ${oneb.attList}">
			<img class=img_s th:src="'/images/'+${att.attname}">
			<div>[[${att.attname}]]</div>
		</div>

	<div style="text-align:center;"> 
		<button type="button" onclick="deleteQueB();"> 삭제</button>
		<button type="button" onclick="edit_btn();"> 수정 </button>
	</div>

</div>
</body>
</html>