<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link href="/css/detail_adminb.css" rel="stylesheet">
<title>공지사항 </title>

<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script type="text/javascript">

function delAdminB()
{
	$.ajax({
		url:'/admin/delAdminB',
		method:'post',
		data: {"adnum": [[${adnum}]]},
		dataType: 'json',
		cache: false,
		success: function(res){
			//alert("삭제 되었습니다.")
			alert(res.deleted?"삭제 성공": "삭제 실패")
			if(res.deleted){
				location.href='/admin/notice/1/10'
			}
		},
		error: function(xhr, status, err){
			alert("서버 문제로 삭제 실패 되었습니다.")
			log.info("error이유:"+err)
		}
		
	})
}

function edit_btn(){
	location.href = "/admin/edit_notice/[[${adnum}]]"
}

</script>
</head>
<body style="margin:0 auto; padding:0;">
<div>
    <div th:replace="fragments/managernav :: header"></div>
</div>


<div style="padding-top:20px;">
	<div class= "top_wrap"> 
		<h1 style="padding-top:25px; text-align:center;"> FAQ </h1> 
	</div>	
	
	<div style="padding-left:400px; padding-right:200px;padding-top:20px">
		<div class="tit">제목
			<span style="font-weight: bold;
	font-size: large;">[[${noticeb.title}]]</span>
		</div>
		<div class="aut">작성자
			<span>[[${noticeb.author}]]</span>
		</div>
		<div class="hit">조회수
			<span>[[${noticeb.hit}]]</span>
		</div>
		<div class="date1">등록일
			<span>[[${noticeb.date_admin}]]</span>
		</div>
		<div class ="cont">내용
			<span>[[${noticeb.content}]]</span>
		</div>
	  
		<div>첨부파일</div>
		<span th:if= "${noticeb.attList.size()>0}"></span>
		<span th:each="att: ${noticeb.attList}"> 
			[[${att.attname}]]
			<img th:src="'/images/'+${att.attname}"> 
		</span>
	<p>
	</div>
	
	<div style="text-align:center;"> 
		<button type="button" onclick="delAdminB();"> 삭제</button>
		<button type="button" onclick="edit_btn();"> 수정 </button>
		<!-- <a class="btn_edit" th:href= "|/admin/edit_faq/${faqb.adnum}|">[수정하기]</a>  -->
	</div>

</div>

</body>
</html>