<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>공지사항 </title>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script type="text/javascript">

function delAdminB()
{
	$.ajax({
		url:'/admin/delAdminB',
		method:'post',
		data: {"adnum": [[${adnum}]]},
		dataType: 'json',
		cache: false,
		success: function(res){
			//alert("삭제 되었습니다.")
			alert(res.deleted?"삭제 성공": "삭제 실패")
			if(res.deleted){
				location.href='/admin/notice/1/10'
			}
		},
		error: function(xhr, status, err){
			alert("서버 문제로 삭제 실패 되었습니다.")
			log.info("error이유:"+err)
		}
		
	})
}



</script>
</head>
<body>
<div th:replace="fragments/common :: header"></div>
	<div style="margin:0 auto; width: 500px; height:100px; padding-top:30px;">
</div>
<div style="width:100vw;">
<div style="text-align: center; margin:0 auto;">
<h3> 공지사항</h3> 
	<div>제목
		<span>[[${noticeb.title}]]</span>
	</div>
	<div>작성자
		<span>[[${noticeb.author}]]</span>
	</div>
	<div>조회수
		<span>[[${noticeb.hit}]]</span>
	</div>
	<div>등록일
		<span>[[${noticeb.date_admin}]]</span>
	</div>
	<div>내용
		<span>[[${noticeb.content}]]</span>
	</div>
  
	<div>첨부파일</div>
	<span th:if= "${noticeb.attList.size()>0}"></span>
	<span th:each="att: ${noticeb.attList}"> [[${att.attname}]]</span>

<p>
<button type="button" onclick="delAdminB();"> 삭제</button>
</div>
</div>
</body>
</html>