<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/extras/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8">
<link href="/css/adminboard.css" rel="stylesheet">
<title>공지사항 </title>

<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script type="text/javascript">

function delAdminB()
{
	$.ajax({
		url:'/admin/delAdminB',
		method:'post',
		data: {"adnum": [[${adnum}]]},
		dataType: 'json',
		cache: false,
		success: function(res){
			//alert("삭제 되었습니다.")
			alert(res.deleted?"삭제 성공": "삭제 실패")
			if(res.deleted){
				location.href='/admin/notice/1/10'
			}
		},
		error: function(xhr, status, err){
			alert("서버 문제로 삭제 실패 되었습니다.")
			log.info("error이유:"+err)
		}
		
	})
}



</script>
</head>
<body>
<div th:replace="fragments/common :: header"></div>
	<div style="margin:0 auto; width: 500px; height:100px; padding-top:30px;"></div>

	<div class= "top_wrap">
		<div style="width:90%;float:right;">
			<h1 style="padding-top:25px; text-align: left;">공지사항</h1> 
		</div>
	</div>
<div id= "container">
	<div class="tit">[[${noticeb.title}]]</div>
	<div class="aut">[[${noticeb.author}]]</div>
	<div class="hit">조회수
		<span>[[${noticeb.hit}]]</span>
	</div>
	<div class="date1">등록일
		<span>[[${noticeb.date_admin}]]</span>
	</div>
	<div class="cont">[[${noticeb.content}]]</div>
  
   <div>첨부파일</div>
   <div th:if= "${noticeb.attList.size()>0}"></div>
	   <div th:each="att: ${noticeb.attList}"> 
	   		<img class="img_s" th:src="'/images/'+${att.attname}">
	   </div>
<p>
<div th:if ="${noticeb.attList.size()>0}"> 
	<button type="button" onclick="delAdminB();"> 삭제</button>
</div>

</div>

</body>
</html>