<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>FAQ</title>
</head>
<body>
<h3> FAQ</h3> 
<div>1:1 문의</div>
<div> 게시글 쓰기</div> <!-- 관리자한테만 보이게 -->
<div> search box</div>   
<table>
<tr>
	<th>번호</th>
	<th>제목</th>
	<th>작성자</th>
	<th>조회수</th>
	<th>등록일</th>
</tr>
<tr th:each="faq: ${list}">
	<td>[[${faq.adnum}]]</td>
	<td>
		<a th:href= "|/admin/detail_faq/${faq.adnum}|">
		[[${faq.title}]]
		 </a>
	</td>
	<td>[[${faq.author}]]></td>
	<td>[[${faq.hit}]]</td>
	<td>[[${faq.date_admin}]]></td>	
</tr>
</table>
	<span th:each="page, i: ${list}">
	<a th:href = "|/faqList/${i}/10|"> [[${i.index+1}]]</a>
	</span>
</body>
</html>