<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>1:1 문의 답글달기</title>
<style>
.title{
	text-align: center;
	margin-top: 10px;
}
.containera{
	 width: 600px;
	 height:600px;
	 margin: 0 auto;
	 outline: solid 1px black;
	 display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5px;
}
.btn{
	width: 100%;
	margin: 0 auto;	
}
</style>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" 
	integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" 
	crossorigin="anonymous">
</script>
<script type="text/javascript">


$(function(){
	$('#btnUpload').on('click',function(event){
		event.preventDefault(); //html의 bubbling을 막아준다. 부모까지 전파되지 않고, 현재 태그안에서만 처리되도록함.

		var form= $('#replyForm')[0] // FormData를 쓰기 위해 필요하다
		var data= new FormData(form); //FormData가 있어야 ajax로 첨부파일까지 전송가능
		console.log('reply Form 값:'+ $('#replyForm')[0].toString );
		
		$('#btnUpload').prop('disabled', 
				true); //이용자가 버튼을 한번 눌렀는데 로딩 안되서 계속 누르는 걸 방지
		
		$.ajax({
			url:'/admin/reply',
			method:'post',
			enctype: 'multipart/form-data',
			data: data,
			dataType: 'json',
			cache: false,
			contentType: false,
			processData: false,
			timeout: 600000,
			success: function(res){
			
				$('#btnUpload').prop('disabled', false);
				if(res.uploaded){
					alert('답변이 저장 되었습니다.');
					location.href= "/admin/qaList"
				}
			},
			error: function(xhr, status, error){
				$('#btnUpload').prop('disabled', false);
				console.log('e:'+ error);
				alert('Server Error');
			}
			
		});
	})
})

</script>
</head>
<body>
<div>
    <div th:replace="fragments/managernav :: header"></div>
</div>
<h3 style="color:grey; text-align:center;"> 고객 관리</h3> 
<h5 style="text-align:center;">1:1 문의 답변하기</h5>
<div class="containera">


<form id ="replyForm">
<input type="hidden" name= "qnum" th:value="${qnum}">
	<div>
		<script>
			today = new Date().toLocaleDateString();
			document.write(today);
		</script>
	</div>
	<div>
		<label for="title"> 제목</label>
		<input id ="title" type="text" name="title" th:value="|RE:${title}|">
	</div>
	<div>
		관리자
		<input type="hidden" name="author" value="admin"/>
	</div>
	<div>
		<textarea name="content" rows="10" cols="40" placeholder="내용을 입력하세요"></textarea>
	</div>
	<div>
		<label for="attach">첨부파일</label>
		<input type="file" name="attach" multiple="multiple">
	</div>
	<p>
	<div class="btn"> 
	<button type="button" id="btnUpload">저장</button>
	<button type="reset">취소</button>
	</div>
</form>
</div>
</body>
</html>